[2016-02-02 09:23] vitalets opened #1 "StyleSheet.create() should return numbers instead of styles itself"
[code]

[2016-02-02 09:26] vitalets opened #2 "Use jest.genMockFn() and other jest stuff for mocks to be more facebook way"

[2016-02-06 03:41] lelandrichardson commented on #1
@vitalets while this is true, I intentionally chose to make this function return a merged object. This allows tests to assert on the flattened style values, rather than trying to figure it out from the numbers etc.

[2016-02-06 03:41] lelandrichardson commented on #2
@vitalets I'm trying to make this library not have a dependency on jest.

[2016-02-06 03:43] lelandrichardson opened #3 "Build a way to safely require single modules from react-native"
Need to implement:

1. flow transforms
2. babel transforms
2. fbjs transforms

[2016-02-07 07:33] lelandrichardson opened #4 "Need to implement some sort of `React.findNodeHandle()` equivalent"

[2016-02-07 17:23] vitalets commented on #2
ok. But could you describe recommended way to calc calls of some method?

[2016-02-07 17:25] vitalets commented on #1
ok, I got your point.

[2016-02-07 18:19] lelandrichardson commented on #2
@vitalets I'm not that familiar with jest, but I assume you can still use it just fine.

If you were using sinon, you could do something like the following:

[code]

I assume jest has some of the same capabilities?

[2016-02-07 19:14] vitalets commented on #2
Yes, similar way.
I mean is not it can be useful to automatically wrap react native mocked method into spies? (sinon, jest or whatever)
In that case we reduce boilerplate code, and your example will be:

[code]

[2016-02-07 19:22] lelandrichardson commented on #2
I agree it would reduce some boilerplate, but I'm not sure it's something I want this library to be opinionated about. If people want to use sinon or jest or {some other library}, then that is their choice.

For these things to be useful, it is often good to have a sort of "setup" and "teardown" feature so that information doesn't leak across tests. This involves making assumptions about one's tes

[2016-02-07 19:24] vitalets commented on #2
Okey, thanks!

[2016-02-07 19:24] #2 closed

[2016-02-08 22:38] DanielMSchmidt opened #5 "Example Project"
Hi there,

First of all thanks for this idea, it is exactly the point I am currently struggling with testing my react native application. I just wanted to ask if you have a project on github which uses this mock, I would love to see it in action somewhere.

Have a nice day!

[2016-02-08 22:41] lelandrichardson commented on #5
not yet, per se.... but keep an eye on this repo: https://github.com/lelandrichardson/enzyme-example-react-native :)

[2016-02-08 22:42] lelandrichardson commented on #5
as well as this PR landing: https://github.com/airbnb/enzyme/pull/159

in that PR you can see some documentation added for getting enzyme working with react-native

[2016-02-08 22:50] DanielMSchmidt commented on #5
Awesome, thanks for the feedback. Enzyme is also one of the libraries I planned to try out the next days, so that fits perfectly.

[2016-02-08 22:50] #5 closed

[2016-02-11 12:14] Pranjal5 opened #7 "Cannot find module 'keyMirror'"
After cloning the repository and running npm install. I tried to run npm test and this error showed up.

module.js:328
    throw err;
    ^

Error: Cannot find module 'keyMirror'
    at Function.Module._resolveFilename (module.js:326:15)
    at Function.Module._load (module.js:277:25)
    at Module.require (module.js:354:17)
    at require (internal/module.js:12:17)
    at Object.<anonymous> (/hom

[2016-02-11 16:19] latusaki opened #8 "Touchable mocks"
Using this library, is it possible to simulate touch events, for example clicking on a TouchableHighlight ?
I am making use of enzyme with mocha and chain, but not sure how to approach this.

Here is an example of what I am trying:

[code]

[code]

[2016-02-11 17:21] lelandrichardson commented on #8
@latusaki you should try simulating `press` instead of `click`. I believe this should work. Let me know if not!

[2016-02-11 17:29] iyawnis commented on #8
:ohgodwhy:

Yes it is working, did not think that. :+1:

[2016-02-11 17:42] #8 closed

[2016-02-11 18:16] lelandrichardson commented on #7
@Pranjal5 not sure why this didn't get caught. I will be setting up CI soon so this will not happen moving forward.

[2016-02-11 18:17] lelandrichardson commented on #7
(FWIW, the npm published module should work fine)

[2016-02-15 05:24] GantMan opened #11 "What about images?"
I have a file where I require images, but I get the error:

[code]

any way we can mock this?

[2016-02-15 09:15] mroswald commented on #7
could you please push a new release? 0.0.5 does not include the fix

[2016-02-15 13:43] Jeiwan commented on #11
I used https://github.com/mfncooper/mockery to solve the same issue. It allows you to globally mock `require`, so you can do:

[code]

In your tests and this will affect all the files that require '../Images/Logo/some_image.png'. `require('../Images/Logo/some_image.png')` then will return `'nice image'`.

Another similar tool is https://github.com/thlorenz/proxyquire

[2016-02-15 15:12] GantMan commented on #11
thanks!

[2016-02-15 17:10] lelandrichardson commented on #11
This is a great question. Perhaps we could build a method where you can pass it a glob string for images and it will automatically register them as image objects in the require cache.

Open to hear anyone else's suggestions as well...

[2016-02-15 17:15] lelandrichardson commented on #7
my apologies. I thought I had already done this!  It's out now on 0.0.6...

[2016-02-15 17:15] #7 closed

[2016-02-15 17:26] mroswald commented on #7
thanks!

[2016-02-16 01:10] gunters63 opened #12 "Problem with ListView using enzyme"
Given the following simple component using a ListView:

[code]

The following Mocha spec throws a TypeError: ListView.DataSource is not a function in the getInitialState function.

[code]

What could be the cause?

My test environment:

package.json (abbreviated):
[code]

.babelrc:

[code]

Other simple specs (only using View and Text) work fine, so it seems not to be a general problem.

[2016-02-17 09:19] iyawnis commented on #11
If I use mockery tests are working, but instead of a dir error I was getting the following:

[code]

[2016-02-17 13:44] Jeiwan commented on #11
@latusaki you cannot require an image in JS. React Native seems to have some kind of a wrapper around `require` that catches all paths pointing to an image and processes them in a correct way. If you mock image requiring, you should just return a string that somehow relates to the required file (its name, for example), so you could test this string in a component and check that a correct file was

[2016-02-17 13:57] Jeiwan commented on #12
The answer is simple: ListView is just an empty component, as can be seen here: https://github.com/lelandrichardson/react-native-mock/blob/master/src/react-native.js#L18 So it has no `DataSource` attribute.

Actually, in one of my projects I made this thing work. If I have time, I'll make a PR.

[2016-02-17 17:17] gunters63 commented on #12
Ah, thanks.

I saw a ListView component here:

https://github.com/lelandrichardson/react-native-mock/blob/master/src/components/ListView.js

As it seems, this is currently not used, probably wip.
I'll try to activate it with

[code]

to see what happens :).

[2016-02-18 17:37] maraujop opened #13 "Understanding react-native-mock and react-native testing"
Hi Leland,

We've crossed some tweets beforehand, but as usual Twitter character limits don't help. Thanks for offering your help, really appreciated.

The app we are building is using mostly RN + redux. Redux reducers and actions were easy to test using a combination of Mocha + Proxyquire + Sinon + Chai

However, some logic is still in the components as you know, so I wanted to test them. At the

[2016-02-18 23:46] lelandrichardson commented on #13
@maraujop Hi Miguel,

Thanks for the detailed issue.

On the face of it, I suspect that proxyquire is going to be causing some problems with the way `react-native-mock` works.

Regardless, though...  you need to be calling `react-native-mock/mock` _before_ any calls to `require('react-native')` get made. `react-native-mock/mock` fills the require cache for `require('react-native')` with the mock,

[2016-02-18 23:47] lelandrichardson commented on #13
Also, as an update... i'm not sure why the packager would be complaining to you the way you say it is. Just as an FYI, I use this setup in my RN projects and leave the packager running pretty much 24/7 without this problem...  I can help you debug it further, but let's see if the suggestions made above are enough to get this working....

[2016-02-19 11:26] maraujop commented on #13
Thanks a lot @lelandrichardson for taking the time to answer,

I've added `--require react-native-mock/mock`. To be honest I forgot to mention I had a `--require test/setup.js` that contained the import of react-native-mock, so I'm guessing this part was already ok, sorry.

The reason why I'm using proxyquire, is for example the fact that we use libraries like react-native-vector-icons which has a

[2016-02-19 17:10] lelandrichardson commented on #13
Hey Miguel,

Thanks for the update. It looks to me like your setup is working, but there just seems to be a component missing.

Do you know which component it is calling `propTypes` on that is undefined?  It seems to me like this could just be a component that is missing in react-native-mock

[2016-02-22 16:41] maraujop commented on #13
Hi Leland,

Thanks to your comment, I tried to reduce it to absurdity. I started changing `DrawerOption` into a much simpler component testing it after every change to find out what broke it. The result was I that ended up having a single View in my render and the test failed the same way. Apparently, proxyquire doesn't get on well with enzyme somehow, or maybe it's with react-native-mock, I'm not

[2016-02-24 15:05] jdebbink commented on #11
@Jeiwan
How are you getting mockery to work? I am getting the same error as @latusaki .

In my module <Temp/> I have:
`<Image source={require('./images/temp.png')}/>`

In my test file I have:

[code]

[2016-02-24 15:07] iyawnis commented on #11
I guess you have tried not disabling mockery?

[2016-02-24 15:09] jdebbink commented on #11
@latusaki That worked, thanks!

[2016-02-24 15:11] iyawnis commented on #11
If I remember correct the effect of mockery does not persist between test cases, so I have just added it like this:

[code]

[2016-02-25 20:39] iyawnis commented on #12
+1 , PR should fix it

[2016-02-25 23:15] #12 closed

[2016-02-26 20:26] jnak opened #15 "Ref don't work with mount"
I'm not sure if it's expected or not.
I created a repro here: https://github.com/jnak/enzyme-rn-ref-repro

Very cool project btw!

[2016-02-26 20:42] jnak opened #16 "Instance() does not work with mount()"
I'm not sure as well if it's expected

I've added a repro in this commit:
https://github.com/jnak/enzyme-rn-ref-repro/commit/fc3876931c9e5c7dafd5c54769cc60a456765b9d

Thanks!

[2016-02-29 09:12] vitalets commented on #15
I expect mount should not work as actually mouniting in that case is rendering in native thread.

[2016-03-02 19:07] IanVS opened #17 "Mocking platform-agnostic requires"
React Native does some magic around requires to allow `require(img.png)` as pointed out in https://github.com/lelandrichardson/react-native-mock/issues/11, but it also allows platform-specific components to be named with an extension `.ios.js` or `.android.js`, and then be imported with a simple `import {MyComponent} from 'my-component.js';` (http://facebook.github.io/react-native/docs/platform-sp

[2016-03-03 10:56] Jeiwan commented on #17
I use an environment variable to set the platform, like `APP_PLATFORM=android npm test`. And in the code I do `var platform = process.env.APP_PLATFORM || 'ios'` and then use this variable during mocking a require or doing other platform-specific stuff.
Another option is to have separate tests for each platform, but this leads to code doubling. Not sure which of these approaches is better.

React N

[2016-03-11 07:35] aksonov opened #22 "NavigationExperimental support"
Reducers could be tested without any problem, is it possible to import them without changes?

[2016-03-11 07:58] rlau1115 opened #23 "Issues with mocking interfering with RN node modules"
I'm having some issues getting a basic test to compile. I'm fairly new to React Native / Mocha / Babel so any insight would be helpful.

I followed your advice regarding forcing babel to compile node modules [here](https://github.com/facebook/react-native/issues/5392), with some modifications of my own due to some problematic modules. However, now the issue seems to be that

[code]

[code]

[code]

[2016-03-11 08:05] rlau1115 commented on #22
@aksonov - Just opened an issue related to testing your react-native-router-flux module: [here](https://github.com/lelandrichardson/react-native-mock/issues/23)

Have you been able to run tests with your plugin in any projects?

[2016-03-11 08:08] aksonov commented on #22
@rlau1115 I'm currently working on 3.0 release with unit testing and NavigationExperimental API support. Current version of RNRF has no unit tests and now i'm adding unit testing for new release.

[2016-03-11 08:12] rlau1115 commented on #23
Also, worth noting that a simple test on a component with no 3rd party node modules passes, if it's the only test running in the suite.

[code]

[code]

[2016-03-12 16:11] DanielMSchmidt opened #25 "Fix Travis setup"
Hi there,

Thanks again for this great lib. I was just curious if you would mind fixing your travis setup? A simple `travis.yml` with `language: node_js` should work as it automatically runs `npm install` and `npm test`.

Have a nice day!

[2016-03-15 13:45] hyphenbash commented on #23
same issue for another 3rd party lib (FBSDKLoginButton). Is there anyway, to create mock components on the fly when triggering --require flag rather than hard coding the components at least for 3rd parties?

[2016-04-05 04:10] vysakh0 commented on #23
@rlau1115 I'm wondering if you found a fix or work around, facing the same issue :disappointed:

[2016-04-05 04:18] rlau1115 commented on #23
Unfortunately no :( Had to skip testing since I was under the gun for a release.

[2016-04-05 04:24] vysakh0 commented on #23
@rlau1115 Ah! :( thank you for the quick reply :smiley:

[2016-04-05 06:06] bdougie commented on #25
@DanielMSchmidt I am not familiar with Travis and have not used it for a project, but just by took a look at the react-native travis.yml.

Is what your asking for something that looks like this?

[code]

[2016-04-05 07:22] bdougie opened #27 "CircleCI error: ReferenceError: Map is not defined"
I know this project is very new and would like to help where I can, but just need to know if this error is legit on my CircleCI. My tests pass locally but fail on CircelCI.

I believe the `new Map()` is part of the Standard JavaScript API, but my error is `ReferenceError: Map is not defined`.

Curious to see if anyone has used react-native-mock with CircleCI and if there is a work around. I also u

[2016-04-05 09:07] DanielMSchmidt commented on #25
@bdougie Yeah, that would be okay

[2016-04-05 09:10] DanielMSchmidt commented on #25
@bdougie Yeah, that would be okay

[2016-04-05 10:39] iyawnis commented on #16
What exactly you mean its not working? It is working fine for me

[code]

[2016-04-05 14:06] bdougie commented on #27
My [hunch](http://babeljs.io/docs/usage/polyfill/) is maybe the repo needs `babel-polyfill` or `babel-plugin-transform-runtime` but I am having trouble testing that assumption locally. I will try a few other things to see if polyfill is what is missing.

[2016-04-05 16:04] bdougie commented on #27
Turns out all I needed to do is specify Node v5.0.0 in my circle.yml and everything now passes without error.

My Solution:

[code]

[2016-04-05 16:04] #27 closed

[2016-04-05 16:07] jnak commented on #16
[code]

This fails with:

[2016-04-05 16:59] RealOrangeOne commented on #16
The `React.Component` used in react-native-mock comes direct from ReactJS. This looks to be more of a problem with enzyme than react-native-mock. Try testing this using HTML components, is the result the same?

[2016-04-05 17:09] huston007 opened #31 "Wrong resizeMode propTypes: *container* instead of *contain*"
Here is wrong possible values: https://github.com/lelandrichardson/react-native-mock/blob/master/src/propTypes/ImageResizeMode.js
"container" should be replaced with "contain" according to docs http://facebook.github.io/react-native/docs/image.html#resizemode

[2016-04-05 17:37] huston007 opened #33 "It'd better to render something instead of null"
We render null everywhere
https://github.com/lelandrichardson/react-native-mock/blob/master/src/components/View.js#L281

Just
[code]
Should be enough in most cases. Otherwise there is no proper way to check props and childten.

[2016-04-06 06:17] #31 closed

[2016-04-06 07:10] RealOrangeOne commented on #33
I have a PR open (#20) that fixes this for text components.  Other components will be possible, but marginally harder.

[2016-04-06 08:06] iyawnis commented on #33
Using enzyme you can access both Children and props, https://github.com/airbnb/enzyme/blob/master/docs/api/shallow.md

[2016-04-06 08:25] RealOrangeOne commented on #33
The best way i found at the moment to get the content from a rendered component is to access it's `children` prop using `instance.prop('children');`

[2016-04-06 19:24] jnak commented on #16
My bad. Apparently instance() only works a wrapper that is also a root instance. Thanks for the help!

[2016-04-06 19:24] #16 closed

[2016-04-09 17:27] lnhrdt commented on #13
Any luck? Today I'm finding myself down this rabbit hole as well. I've been struggling to figure out how to mock a custom component and then make expectations on it under test.

[2016-04-09 17:40] RealOrangeOne commented on #13
I've been working with unit testing a load of custom components, and I've found the best thing to do is render them with shallow. Then you can test prop calls to their child components. `react-native-mock` takes care of mocking all the react-native stuff in a way enzyme can work with.

[2016-04-21 16:18] slamus commented on #11
Hey Guys,

Thanks for your help I've been able to fix the require problem.
However, none of your solutions worked for me because required propType for Image.source is either _number_ or _shape_ (?)
So, my solution was this:

[code]

[2016-04-21 16:37] RealOrangeOne commented on #11
@slamus The best way to mock an image objects source would be to pass it something it's expecting.

`mockery.registerMock('../img/myimage.png', {{ uri: 'myimage.png' }});`

The image doesnt have to exist or anything, but it's a better way of mocking it than just passing in a random value

[2016-04-30 12:48] Sh3rawi commented on #11
I ran into the same issue today, and what i did was the following (im using jest):
node_modules/babel-jest/src/index.js:

[code]

but it can't compile images, so it returns the source (which is the image itself).
All my images are pngs, so i added the following check:

[code]

So i return a string for every image require i have, which is very convenient for testing:
i shallow render the component,

[2016-05-02 12:04] benjick commented on #11
Hey, trying your solutions here, but not sure what I'm doing wrong.

`test/Button.js`

[code]

[2016-05-02 15:53] slamus commented on #23
@rlau1115 @vysakh0 I feel that it's most RN wannabe-testers destiny... :(

[2016-05-04 13:57] dieguitoweb opened #38 "When the merged prs and closed issues will be released?"
The `cloneWithRowsAndSections` method for `ListView.DataSource` is essential

[2016-05-11 21:20] sibelius commented on #3
I'm receiving a flow error I guess

[code]

is there a workaround for this for now?

[2016-05-11 21:30] sibeliusseraphini opened #42 "is this work with RN25/RN26 and react 15?"

[2016-05-11 21:54] sibelius commented on #42
current error with React 15

[code]

[2016-05-12 08:54] mroswald commented on #3
in our mocha config we do `--register` a file that looks like this:

[code]

[2016-05-16 10:49] mroswald opened #44 "babel plugin was renamed"
[code]

[2016-05-16 10:50] mroswald commented on #44
should be renamed to `check-es2015-constants` (http://babeljs.io/docs/plugins/check-es2015-constants/)

[2016-05-16 22:17] chirag04 commented on #44
cc @lelandrichardson

[2016-05-17 09:36] sattaman commented on #23
+1

[2016-05-17 10:37] sattaman commented on #22
+1

[2016-05-20 03:42] devhyunjae opened #46 "SyntaxError: Unexpected token import"
ChatList.js

[code]

ChatList.test.js

[code]

test command

`mocha --require react-native-mock/mock.js --compilers js:babel-core/register --recursive src/**/*.test.js`

at this point, works fine!

in here, i am trying to use an third party libaray component.

https://github.com/GeekyAnts/NativeBase

added this line

`import { Container, Header, Content, Footer, Title } from 'native-base';`

and r

[2016-05-20 08:11] RealOrangeOne commented on #46
Reading the stack trace, this is coming from a module called `native-base`. You're solution would be correct. The easiest way to achieve this would be to either upgrade your version of node, as newer ones support import syntax, or you can use something like the babel-node package to do the conversion for you. But this is not a problem with `react-native-mock` in any way, shape, or form :+1

[2016-05-20 08:13] RealOrangeOne commented on #11
@benjick Can you post the source of the `CloseButton` component too? Remember the first arguement of mockery should be the exact string you try and require, not a relative path to the file

[2016-05-20 09:51] devhyunjae commented on #46
Yup, i agree this is not a react-native-mock's fault...but this will be a very common issue when trying to shallow test an 3rd party's Component that has `import` keyword :cry:

And I've tried all the approach that you have mentioned. My node version is `6.2.0`, which handles 96% compatible, but not working. Tried all kind of babel packages to but fail either.

[2016-05-20 11:31] RealOrangeOne commented on #46
Ahh, I remember the problem. By default, babel (of any kind) doesnt build any scripts that are inside the `node_modules` directory. One way you could fix this is to mock the `native-base` module, and just create some empty components, in the same way `react-native-mock` does it. Or you can use the babel `ignore` hook on require to compile just that folder (see [here](https://babeljs.io/docs/usage/

[2016-05-20 14:20] jbrodriguez commented on #46
Hi @RealOrangeOne, I have a similar case in which I'm using a third party component (https://github.com/corymsmith/react-native-fabric/), while using react-native-mock.

When trying to run a test, I get

[code]

The code is

[code]

It fails because the mocked NativeModules doesn't know anything about a SMXCrashlytics, which is the expected behaviour.

Is it possible to hook into react-native-mock

[2016-05-20 14:45] RealOrangeOne commented on #46
No there is no mocking implementation with `react-native-mock` that allows you to mock `NativeModules`. The library I would recommend to achieve this is [Mockery](https://github.com/mfncooper/mockery). There's some more talk on it over at #11

[2016-05-20 14:50] RealOrangeOne commented on #38
cc @lelandrichardson. Common complaint.
@dieguitoweb which PR is it that fixes this? If the PR is already merged, can you close the issue?

[2016-05-20 15:03] RealOrangeOne commented on #23
@rlau1115 Looks like some kind of problem in the code of exponent. The mock for `navigator` exposes that scene config properly. Whilst trying to use `react-native-router-flux`, I gave up trying to get it to work and just used [Mockery](https://github.com/mfncooper/mockery) to write a custom mock for that module.
@sattaman Is this still happening with the most recent version?

[2016-05-20 15:20] RealOrangeOne commented on #17
Besides just using a load of conditionals to check, what you could do is change the way node requires js files, and check if there's a `.android.js` or `.ios.js` version and return that instead, which you could switch on an env var. Best library i've found to do it is [node-hook](https://www.npmjs.com/package/node-hook), but I have no idea if it actually works, or plays nice with `react-native-moc

[2016-05-20 16:32] diegocstn commented on #38
PR already merged ;)

[2016-05-20 16:32] #38 closed

[2016-05-22 16:25] #42 closed

[2016-05-23 02:13] #44 closed

[2016-05-23 14:03] lelandrichardson commented on #33
This library is intended to work with a shallow renderer. It should not matter what `View` renders, it should only matter what higher order components rendering a `<div>` here is meaningless.

This API should work fine with shallow. Are you using something different?

cc @RealOrangeOne

[2016-05-23 14:05] andrey-skl commented on #33
@lelandrichardson actually looks like you're right and it should be enough to be able to get props via enzyme (which I use)

[2016-05-23 14:10] RealOrangeOne commented on #33
With the library only meant to be run using enzymes `shallow` render (or similar), no the content of what's rendered doesnt really matter. In future I think it might be worth rendering relevant information (especially for elements like listviews etc). But I think for now, just access the `children` prop as shown above.

[2016-05-23 14:26] lelandrichardson commented on #33
for non-native components like `ListView`, it might make sense to render something other than `null`. Keep in mind though, you should be testing what your component renders, and relying on understanding what ListView's render tree looks like inside of your tests may not be the best idea. Regardless, it's a much more reasonable thing to do in that case versus doing so for `<Text>` or `<View>`.

[2016-05-24 09:08] tomkur opened #49 "InteractionManager.createInteractionHandle is not a function"
The minimal mocha test suite to reproduce this problem is following:

[code]

When running with:
[code]
I get the following error:
[code]

It looks like [InteractionManager.js](https://github.com/lelandrichardson/react-native-mock/blob/6e1c585916aeca7063a4e024a348c433aa0fcad8/src/api/InteractionManager.js) is missing ```module.exports``` statement.

[2016-05-24 09:11] RealOrangeOne commented on #49
Ah yes that does appear to be a problem. Fancy submitting a PR for it?

[2016-05-24 09:12] RealOrangeOne commented on #22
This is currently being looked into in #34 and #48

[2016-05-24 09:14] tomkur commented on #49
I'm on it.

[2016-05-24 09:30] miracle2k commented on #11
I didn't want to mock all image paths manually, so I made this hook:

[code]

[2016-05-24 09:36] RealOrangeOne commented on #11
@miracle2k oohh that's really nice! Could you submit that as a PR? Maybe putting it in `mock.js`?

[2016-05-24 09:45] RealOrangeOne commented on #25
Issue was fixed in #29

[2016-05-24 09:45] #25 closed

[2016-05-24 09:52] #49 closed

[2016-05-24 17:01] RealOrangeOne commented on #15
@jnak can you provide more details on this so we can try to replicate and fix it

[2016-05-25 18:45] RealOrangeOne commented on #46
Closing as not an issue with `react-native`. Best solution would be to run your tests using something like `babel-node` so it builds your `node_modules`, or to mock the library.

[2016-05-25 18:45] #46 closed

[2016-05-29 22:03] sibelius commented on #3
I'm receiving this error when I try to run tests with `react-native-router-flux`

[code]

this is my testHelper.js file

[code]

and this is my npm test script

[code]

any workaround to handle this?

[2016-05-29 22:06] sibelius commented on #23
hey @RealOrangeOne can u provide an example or snippet of using Mockery to handle `react-native-router-flux`?

[2016-05-29 22:18] RealOrangeOne commented on #23
@sibeliusseraphini Unfortunately the code I used is closed source by my company. I think that's more an issue for the `react-native-router-flux` repo, as it doesnt affect `react-native-mock`

[2016-05-29 22:20] RealOrangeOne commented on #3
@sibeliusseraphini Yes, this occurs when node tries to require an image as JS. See #11 for more discussions

[2016-05-29 23:25] sibelius commented on #11
@miracle2k how can I use this hook with react-native-mock?

[2016-05-29 23:55] sibelius commented on #23
this is my testHelper.js

[code]

and this is my `npm test`

[code]

Maybe this could help @rlau1115 @vysakh0

[2016-05-29 23:55] sibelius commented on #23
only the image part is not working properly

[2016-05-30 00:09] sibelius commented on #11
hey @slamus can u provide a repo with your solution?

[2016-05-30 00:19] sibelius commented on #11
@RealOrangeOne I think we should create a gitter room to discuss solutions for these issues

[2016-05-30 01:02] hassankhan opened #57 "Can't install"
I ran the install command as per the README:

[code]

Not really sure why it's being like that, could you possibly remove `react` as a `peerDependency`?

Thanks for creating this, by the way 😄

[2016-05-30 01:06] hassankhan commented on #57
I should have probably mentioned my use-case, I'm trying to write tests for a React Native plugin, so I'm saving it as a `devDependency` in the plugin's `package.json`. In an ideal scenario, I'd rather not install either `react` or `react-native, only this mock package.

[2016-05-30 05:17] niftylettuce opened #58 "Can't install due to duplicate naming"
Related to #57 ... perhaps we need to do something like this? https://github.com/Thomas101/react-native-fence-html/commit/ff335a4140164258f7d74abfb6b6625a74ee17c5 /cc @sibeliusseraphini

[2016-05-30 05:17] niftylettuce commented on #58
https://github.com/facebook/react-native/issues/3558

[2016-05-30 07:35] RealOrangeOne commented on #57
Hi, this looks like youre trying to install the wrong version of react. You have to install 15.0.2 to work with react-native 0.26.

[2016-05-30 07:37] RealOrangeOne commented on #58
Can you please explain what you mean by 'duplicate name', or at least provide a stacktrace for the error?

[2016-05-30 07:38] RealOrangeOne commented on #11
I was thinking about doing something like that, let me look into it further before I create something

[2016-05-30 07:40] RealOrangeOne commented on #23
Youre not setting up mockery correctly, the path is the path it imports not the path to the file. Please see mockery docs

[2016-05-30 10:09] hassankhan commented on #57
I haven't specified _any_ version of `react` OR `react-native` to install, I only wanted to install this package.

[2016-05-30 10:30] RealOrangeOne commented on #57
you will need to install `react` for this package to work, the version must be the same as the one required for the latest version of `react-native`, in this case, `15.0.2`. The easiest way to do this would be to add react-native as a dev-dep to your project, then it installs everything you need

[2016-05-30 10:47] hassankhan commented on #57
Ahh okay, thanks for the pointer. I tried installing `react-native` as a `devDependency` (`npm install react-native@0.26`), that didn't work either. Turns out I needed to install both:

[code]

[2016-05-30 10:47] #57 closed

[2016-05-30 11:06] RealOrangeOne commented on #57
The mock is designed to run on react-native projects, therefore they'll need `react` and `react-native` installed. I should probably work on adding them as specific dependancies, so this doesnt happen in the future

[2016-05-30 11:21] sibelius commented on #11
for  `react-native-router-flux` to run I've used this commands with Mockery on testHelper.js

[code]

[2016-05-30 14:03] sibelius commented on #58
[code]

cc @niftylettuce

[2016-05-30 15:05] RealOrangeOne commented on #58
When is this happening. Is this when you run the packager? @sibeliusseraphini @niftylettuce

[2016-05-30 15:13] ZauberNerd commented on #58
Looks like `react` is installed twice (once in your `node_modules` folder - as it should be) and once inside the `node_modules` folder of the `react-native-mock` module.
Which npm version are you using?
This https://github.com/lelandrichardson/react-native-mock/pull/55 will probably fix that error.
Until then you can try to remove all node_modules and reinstall - if you install `react@15.0.2` firs

[2016-05-30 15:47] RealOrangeOne commented on #58
This looks like a problem with the way node 4 handles dependancies, i've seen it before. If you remove that file from inside the node_modules of `react-native-mock`, it'll work. Until I push out a release mid next-week, that's what'll have to do

[2016-05-30 18:57] latusaki opened #60 "Platform.select method"
Need to write a mock for new function, getting this error:

TypeError: _reactNative.Platform.select is not a function

https://github.com/facebook/react-native/pull/7220

Will try to make a PR soon.

[2016-05-30 19:08] #60 closed

[2016-05-30 19:24] RealOrangeOne commented on #33
Closing issue for now. Definately something that'd be great for someone to look into! Especially for things that render off function props such as `ListView`.

[2016-05-30 19:24] #33 closed

[2016-06-01 13:07] varmais commented on #11
I'm running my tests with mocha and found [mocha-image-compiler](https://www.npmjs.com/package/mocha-image-compiler) useful when testing components which require images. See my example repository for examples: [react-native-unit-tests](https://github.com/varmais/react-native-unit-tests).

It comes with downside though: You will get a prop type warning when running the tests, but I'll rather take t

[2016-06-01 13:24] RealOrangeOne commented on #11
@varmais Wow, that's really nice! Although yes the prop warning would get annoying. It's definately much easier than using mockery! We could fork that library and add it in, conditionally obviously.

[2016-06-04 07:27] ColCh opened #64 "Node haste throws when building app"
It happends when I try to build with dev deps (e.g. `react-native-mock` and `react-native` with `react` are inside of `./node_modules`)

Just take a look on this log:
[code]

 `@providesModule` is a Node haste thing, but I can't find real docs for it. It's needed for build step, but does `react-native-mock` really needs these module ids? This module is used in testing purposes, and with this decla

[2016-06-06 08:30] RealOrangeOne commented on #64
We aren't actually using `node-haste` in `react-native-mock`. At what point is this error occuring? At install time, package time, or test time?

[2016-06-06 08:37] ColCh commented on #64
On build time.
This error happends if `react-native-mock` is remain in `./node_modules`.
To succesfully build my app, I should remove this module by hand.

I'm **forced** to keep my devDeps and deps in same dir, because:
1. It's CI cache
2. because of npm bug: npm/npm#12654

Really, I can send you a PR which removes those `@providesModule`, it's not that hard. Just tell me, whether this module id

[2016-06-06 08:40] RealOrangeOne commented on #64
Sure! Submit a PR and i'll take a look.

[2016-06-06 13:49] sibelius commented on #57
this line https://github.com/lelandrichardson/react-native-mock/blob/master/package.json#L43 will cause the same problem on RN27 that depends on react@^15.1.0 instead of react@15.0.2

[2016-06-06 13:59] RealOrangeOne commented on #57
Yes, this is by design. I shall update these versions in the deploy I do later today. `react-native-mock` is only designed to work with the most recent version of `react-native`

[2016-06-06 14:04] sibelius commented on #57
\o/ let's keep on the bleeding edge

[2016-06-06 14:29] dieguitoweb commented on #64
+1

[2016-06-06 14:30] ColCh commented on #64
May be related to #58 as well

[2016-06-07 03:40] Richard-Cao opened #66 "Upgrade react-native 0.27.1 error"
Failed to build DependencyGraph: @providesModule naming collision:
  Duplicate module name: ViewportMetrics
  Paths: /Users/caolicheng/workspace/reading/node_modules/react-native-mock/node_modules/react/lib/ViewportMetrics.js collides with /Users/caolicheng/workspace/reading/node_modules/react/lib/ViewportMetrics.js

This error is caused by a @providesModule declaration with the same name accross

[2016-06-07 03:41] Richard-Cao commented on #66
@lelandrichardson maybe upgrade react to 15.1.0 will solve.

[2016-06-07 07:57] RealOrangeOne commented on #66
Duplicate of #64 . Try again with new version

[2016-06-07 07:57] #66 closed

[2016-06-08 17:18] sibelius commented on #23
How can I add some custom mock for some custom library like https://github.com/luggg/react-native-config?

[2016-06-08 17:21] sattaman commented on #23
Using mockery http://stackoverflow.com/a/37655424/168012

[2016-06-08 20:45] AshCoolman commented on #64
Out of curiosity, @ColCh Does `npm shrinkwrap` fail, citing `node-haste` as a problem?

[2016-06-08 20:46] kevinhylant opened #68 "Cannot find module 'buildStyleInterpolator'"
Hey there!  Thanks for all your hard work mocking this all out.

In my app I'm using `buildStyleInterpolator` which is provided by React Native and made available via `import buildStyleInterpolator from 'buildStyleInterpolator'`... which I feel is a bit strange in the first place as most library utilities like `Dimensions` are imported like `import {Utility} from 'react-native'`.

Regardless, it l

[2016-06-09 08:05] RealOrangeOne commented on #68
I have been thinking on a nice way of implementing these fixes. I think the best way of doing it would be in the same way we override nodes require with `react-native`. We should be able to do the same for any other library.

[2016-06-09 20:38] ColCh commented on #64
@AshCoolman no.
We are using RN v0.26 (React v15.0) so I will check for RNM v0.2.2:

[code]

Works just fine.

But if I install RNM@0.2.3 (for React@15.1), it will fail (of course):

[code]

[2016-06-09 20:56] ColCh commented on #64
Hm, I realized that my meaning was wrong! I found **no** `@providesModule`.

And, see this log?

[code]

`react-native-mock/node_modules/react` - that was the root of the trouble.

It's solving by moving away react dependency from package.json.
And it is already!
This commit bring this brilliant solution: https://github.com/lelandrichardson/react-native-mock/commit/545b880d59a0bd742c5303448a8546c7

[2016-06-09 20:56] #64 closed

[2016-06-10 08:19] RealOrangeOne commented on #64
I guess one thing that could be done to improve this would be remove react as a dependancy, and specify the version needed in a peer dependancy. If i'm right, that should fix the problem?

[2016-06-10 11:59] ColCh commented on #64
yes, it seems that error from node-haste was because of local react installation in react-native-mock/node_modules folder.

[2016-06-12 17:54] chrissloey opened #69 "ReferenceError: window is not defined"
There are two calls to `window.cancelAnimationFrame` in [AnimatedImplementation.js](https://github.com/lelandrichardson/react-native-mock/blob/master/src/api/Animated/AnimatedImplementation.js).

This causes `ReferenceError: window is not defined` when I run my tests, and I can't mock `window` because other libraries (like sinon) enable React Native compatibility by checking for `window`.

[2016-06-12 19:16] RealOrangeOne commented on #69
Whenever i've been working with sinon, i've had no problem mocking out window. Personally I use `jsdom` to mock it, and then grab the window out of that. If the mock is an actual mock of window, and not something you make up, it should work fine with most libraries

[2016-06-12 19:17] RealOrangeOne commented on #68
I am hoping to start work on something like this soon, once a few more PRs are released. Hoping to bring it out inline with react-native 0.30 so we can match up the version numbers. Stay tuned for a fix!

[2016-06-13 08:49] chrissloey commented on #69
Thanks for the tip! It looks like `jsdom` doesn't implement cancelAnimationFrame, but I got things working by using jsdom and stubbing cancelAnimationFrame on top of it.

This still feels like a problem with `react-native-mock` though - I can submit a PR if you have a preference for fixing it. I think it should just be removed but if there's a reason it's there, there should at least be some docs

[2016-06-13 09:39] RealOrangeOne commented on #69
I like the idea of fixing it, but I think having jsdom in the project too is a little much, considering others may want a different approach. I think the best solution would be validating that the function is actually there: `if (window && window.cancelAnimationFrame) ...`?

[2016-06-13 10:05] chrissloey commented on #69
Agreed on jsdom. After my last comment I realised the code as it is (with reference to `window`) is straight from React Native's `AnimatedImplementation` so probably fair to leave it there and guard it as you suggest.

Will submit a PR later today. I have some other `Animated` related things I'm mocking that I'll submit a PR for separately too.

[2016-06-15 18:32] bhaskarmurthy opened #70 "TypeError: _reactNative.Platform.select is not a function"
Running a test on a component that uses `Platform.select`, and getting a test exception:

``
TypeError: _reactNative.Platform.select is not a function
    at Object.<anonymous> (Fonts.js:20:33)
    at Module._compile (module.js:409:26)
``

`react-native-mock@0.2.3`

[2016-06-15 18:39] RealOrangeOne commented on #70
This is because the `Platform.select` API hasnt been mocked yet. There is currently an open PR (#61) that is solving this. However he hasnt responded for a while, so feel free to submit your own!

[2016-06-15 18:58] darthrellimnad opened #71 "handling react-native updates?"
Thanks for all of the work on this!  After spending a lot of time struggling with Jest and the RN docs (v 0.27.0) for setting up unit tests, I decided to give enzyme w/ mocha/chai a go and bam, I was up and running tests that matter to me.

I'm wondering what the process is like if/when RN updates offer new functionality or breaking changes or bugs.  Is there any coordination between you all and t

[2016-06-16 06:16] RealOrangeOne commented on #71
I try to update the dependancies as soon as react-native is updated. Regarding APIs. It's whenever enough PRs have been submitted that I deploy a release. Master can always be considered stable and working, however at this time there isnt a way you can install this through npm easily as it requires a build step.

[2016-06-16 06:50] mroswald commented on #71
What about a postinstall scripts which Checks the existence of the build dir and executes _npm run build_ if needed

[2016-06-16 06:58] benjick commented on #71
Cool idea, but how would that work with devDeps?

[2016-06-16 07:06] mroswald commented on #71
Yes, you're right. Installing devDeps before would be too much overhead. Will think about it 😀

[2016-06-16 07:59] RealOrangeOne commented on #71
I think one of the best ideas would be to find a way to make travis deploy to npm under `react-native-mock@next`?

[2016-06-26 16:58] sbycrosz opened #73 "Touchable mocks should respect `disabled` props"
Should we have `Touchable` mocks to respect `disabled` props (i.e. not to call `onPress` callback when it has `disabled` props)?

Cheers,
sam

[2016-06-27 09:44] RealOrangeOne commented on #73
No, that's certainly something for this library. If you would like to open a PR on this it would be great!

[2016-06-27 18:51] evollu commented on #70
since the fix has been merged, can you bump the version?

[2016-06-28 08:23] RealOrangeOne commented on #70
Yes, I shall try and do a deploy later today

[2016-06-28 08:23] #70 closed

[2016-06-28 17:30] sbycrosz commented on #73
Alrighty, will do a PR sometime later

[2016-06-29 22:10] sibelius opened #75 "What is missing for RN28?"
I think we need to create an issue with a checklist for each new version of react native so we can track what is missing in react-native-mock to use the latest version

[2016-06-29 23:58] manuelmorales opened #76 "Enzyme's mount() fails to render the whole tree"
As you can read here https://github.com/airbnb/enzyme/issues/470, it won't work. And by the looks of https://github.com/lelandrichardson/react-native-mock/blob/master/src/components/View.js#L284 it is expected.

My question is: Is it part of your ideal for this library to keep extending it so that eventually, things like these work? Or would  that be totally off scope for this library?

[2016-06-30 07:06] mroswald commented on #75
Maybe we should generate this list via script :-) I wouldn't implement a test, but a script comparing the React Native export with the mocked one would be great. That would allow us to express the equality in a number

[2016-06-30 07:09] mroswald commented on #76
I'd vote for allowing children, but then we'll have to mock all this native-connecting Apis. At some point you have to make the cut

[2016-06-30 08:03] RealOrangeOne commented on #75
I'm not a big fan of having an issue created for every release of react-native. As we'd probably end up many versions behind. I am liking the idea of having a script that works out what we're missing though! Am adjusting this issue to reflect that, not the checklist

[2016-06-30 08:06] RealOrangeOne commented on #76
The idea of this library is to use the 'Shallow' render feature of `enzyme`. In an ideal world, everything would render accurate children, and we wouldnt have any issue like this. This kind of a change would be rather monumental, and complicated to implement, but i'm open to the change!

Any help with this would be greatly appreciated

[2016-07-01 10:19] manuelmorales commented on #76
Understood guys. Thanks for the clarification. I don't feel capacitated to take over this myself as I'm quite new to react and react native yet. You can close this issue if you like.

Thank you!

[2016-07-01 23:23] darthrellimnad commented on #71
late to respond but thanks for the updates!  so it sounds like this issue has to do with npm and devops on your end?  i'm not super familiar with hosting through npm, but seems like you all are on top of react-native updates so i'm happy to get updates from npm when i see them.

only issue i can think of is if we ever need to freeze a react-native version, deal with older/legacy react-native code,

[2016-07-02 14:51] RealOrangeOne commented on #71
Personally i'm not really too bothered with older versions of `react-native`, whilst they're still doing this _highly_ active development process, it's fine for people to just lock the version, seeing as the versions are only specified for react in development. Once things settle down (and they come out of alpha?), then we'll work on more long-term releases, with better backwards compatability. Fo

[2016-07-05 09:53] zhaotai commented on #11
Well, the solution of @miracle2k can not solve my problem directly because the image name they mock is just the same to the actual image name.

 But as we all known, if you require an image without `2x` or `3x` postfix just like `abc.png` instead of `abc@2x.png`, react-native will also require the right one automatically depending on the active device. And that's why I confronted this problem and

[2016-07-05 10:20] ryyppy commented on #11
Funny that this discussion just arised.. I was working on the same mocking problem independently yesterday and came to a very similar (non-working) solution as @zhaotai ... this will save me many hours of debugging the node module system... it's also not as intrusive as `mockery`.

I know `mockery` and I used it for other products myself.. the thing is, before I would ever use it, I might as well

[2016-07-05 14:13] GantMan commented on #11
Just tested the @zhaotai and @miracle2k solution.  Works fantastic.   Going to be moving this into our default AVA tests for the Ignite project.   Now everyone who creates a new Ignite starter will have their work right away.   I'll be sure to make more shout outs in the release notes.   Thanks!

[2016-07-05 14:13] GantMan commented on #11
O and I"m closing this ticket :) cheers!

[2016-07-05 14:13] #11 closed

[2016-07-13 14:53] gindinoam opened #78 "Enzyme's mount() failed when trying to render Animated.View"
Hi,
I'm trying to test component which has Animated.View, but when I call the enzyme's mount() I'm getting an error **TypeError: Cannot read property '__getValue' of undefined**

the full stack is:
     TypeError: Cannot read property '__getValue' of undefined
      at AnimatedComponent.render (C:\Git\{xxx}\{aaa}\reactNativeSrc\node_modules\react-native-mock\build\api\Animated\createAnimatedCompon

[2016-07-13 15:21] RealOrangeOne commented on #78
Looking at the source, it appears it's a bug that's carried through from day 1. Seems it's trying to access a special prop that isnt there. Although, i'm not sure what it's meant to be, or how it really works

[2016-07-13 15:24] RealOrangeOne commented on #22
#48 has now been merged and released

[2016-07-13 15:24] #22 closed

[2016-07-13 17:08] ywongweb commented on #78
Bump into the same problem here. shallow() works but mount() throws the error.

[2016-07-13 20:45] RealOrangeOne commented on #78
I believe that's something to do with how shallow doesnt render everything. Mount is definitely a better test of this library, although it is only designed to be used with shallow. There's still an error in the codebase though

[2016-07-14 07:51] #69 closed

[2016-07-18 12:56] romanlv opened #82 "How to access elements inside <TouchableOpacity .. /> ?"
I'm trying to test a simple component, where some areas are wrapped with <TouchableOpacity />
[code]
I've tried different methods and rendering functions, it only can find/traverse to `TouchableOpacity` element, but not children inside it? Is it a problem of react-native-mock or enzyme?

Any ideas on how to test this component?

[2016-07-18 13:38] vikeri opened #83 "Publish new version to npm"
Just wondering when the next version will be published to npm? Since I'll be using this with Travis I'd prefer not to have to pull master. Using NavigationExperimental so I need the newer version.

[2016-07-18 14:16] sibelius commented on #83
u can specify a commit number instead of master

[2016-07-18 14:20] vikeri commented on #83
@sibelius I did that but it failed since the folder `build` generated from `npm run build` was not present. I had to clone it and run `npm link` which then built the `build`-folder.

[2016-07-18 14:22] sibelius commented on #83
I though prepublish script https://github.com/lelandrichardson/react-native-mock/blob/master/package.json#L7 would handle the generation of build

we need to fix this to enable install from github directly

[2016-07-18 14:49] RealOrangeOne commented on #83
I have been thinking of some kind of `react-native@next`  that would auto deploy from travis. But yes, I shall push out a new release later today

[2016-07-18 14:50] RealOrangeOne commented on #82
I believe this is a duplicate of #76. See there for more.

[2016-07-18 14:50] #82 closed

[2016-07-18 15:02] sibelius commented on #83
@RealOrangeOne what about install directly from github?

[2016-07-18 16:17] RealOrangeOne commented on #83
that would work, but currently the app will require a build step unless youre using something like babel-node.

[2016-07-19 01:54] romanlv commented on #82
Well, somehow it works for `<View>` elements, you can wrap TextInput with `<View>` (with multiple levels) and the whole pack will be rendered by the `shallow` function.
Can it just reuse the same logic for `TouchableOpacity` (and similar advanced containers)? For the tests it will be useful to "see through" those system elements...

[2016-07-20 21:17] julien-rodrigues commented on #17
I just want to share something in case someone come through the problem of testing platform specific code.

Not related to the import themselves but I found a solution for platform specific code using the RN `Platform` module.
I use `mocha` and as entry point for my tests I require this file `/bin/test.js`:

[code]

This way I don't have to change my code, I keep using the RN module and I can simu

[2016-07-21 06:19] RealOrangeOne commented on #17
@julien-rodrigues whilstt that is a nice solution, we already support something like this. You can use 'Platform.__setOS' to set the OS programatically during tests. This should make things much easier for you, and it's still possible to use process.env.

[2016-07-21 13:10] julien-rodrigues commented on #17
I forgot to say that in my case I need to set stuffs outside of the render cycle.
So I need to have the OS correctly set before anything else.

I am testing a component which style has a color property which is changing depending on the Platform.OS value.

[code]

I can't put it inside a RN Stylesheet as `selectionColor` is going to be used to fill the `selectionColor` prop of the RN TextInput com

[2016-07-22 12:40] oriarditi opened #88 "Asserting interactions with react native mocks"
Hi,
I'm new to React Native so excuse me if this question has an obvious solution but I couldn't find it.

I'm trying to verify interactions with React Native components. In my case I have a ```Navigator``` passed to my component and I use it as so:
[code]

I'm trying to build my unit test around this component but I'm not sure which ```Navigator``` to pass to my component.
I tried importing the `

[2016-07-22 13:01] RealOrangeOne commented on #88
When in a unit test, you should have set up the mock by requiring `react-native-mock/mock`. then any requires from `react-native` are mocked by `react-native-mock`. The mocks are designed to be shallow, and so don't have this functionality (_yet_). The best solution would be to mock your pop function with a library like `sinon`, and spy on that to check it was called

[2016-07-22 13:13] oriarditi commented on #88
Sorry I forgot to mention I required `react-native-mock/mock` and I'm able to test my own functionality smoothly.
I'll take your suggestion on how to verify RN components.

Thanks you for your answer.

[2016-07-22 13:13] #88 closed

[2016-07-28 18:00] callmephilip commented on #23
**config.ignore** function suggested by @sibelius worked for me - was having issues with spread operator in a 3rd party module

[2016-08-04 07:58] aakashsigdel commented on #76
@manuelmorales any workaround for this, or any tips on getting things to work?

[2016-08-11 20:02] mortik commented on #83
Why not just add the build dir to the repo?

[2016-08-12 12:20] RealOrangeOne commented on #83
because commiting the built source is a nightmare for PR review, and generally a bad idea.

[2016-08-12 12:32] mortik commented on #83
I would like to disaggree ^^ but thats only my opinion.
An automated build step and push to npm after the ci is green seems to be the solution then ;)

[2016-08-18 09:46] RealOrangeOne commented on #83
Version `0.2.6` has been released. Will be working on an 'unstable' release schedule soon! Closing this issue for now!

[2016-08-18 09:46] #83 closed

[2016-08-18 09:48] RealOrangeOne commented on #71
I have been looking into it, and it looks like we will be able to sort out a `react-native-mock@unstable` for bleeding-edge updates! Stay tuned!

[2016-08-18 09:58] RealOrangeOne commented on #58
@niftylettuce is this still an issue? If not please close.

[2016-08-18 11:19] sattaman opened #89 "Mocks for SwipeableListView"
I know its still experimental, but thought I'd raise anyhow.

https://github.com/facebook/react-native/tree/master/Libraries/Experimental/SwipeableRow

[2016-08-18 12:21] RealOrangeOne commented on #89
Ah yes. If you would submit a PR that'd be great :grinning:

[2016-08-27 00:46] jasonfma opened #91 "PropType warnings with RN 0.32.0"
I've recently upgraded to RN 0.32.0 and now I'm getting warnings in all my tests.

e.g.
[code]

After reading the link they provided (https://fb.me/react-warning-dont-call-proptypes) and looking at some code, it seems like the way styles and transforms are done do violate their new rules. I'm not sure how to best fix it.

Any ideas?

[2016-08-27 14:13] RealOrangeOne commented on #91
what component are you trying to test. Were you able to find examples in our library that call them or is it in some of our dependencies.

[2016-08-29 17:01] jasonfma commented on #91
This warning is new with RN 0.32.0 - specifically React 15.3.0.

Here's a sample test that is only using a `View`:

[code]

with warning

[code]

[2016-08-29 19:14] RealOrangeOne commented on #91
I'm not sure what the problem is with that. The View component doesnt do anything. I fear it's in one of our dependancies

[2016-08-29 19:54] lencioni commented on #1
I'm currently working on something where I would like to test some functionality where StyleSheet.create works as it does in react-native. The solution I've come to is to write my own version of mock.js where I monkey patch StyleSheet.create.

[code]

It might be nice to offer this as an option, or maybe export `ReactNativeMock` from mock.js in order to enable customizations like this.

[2016-08-30 02:26] jasonfma commented on #91
I think the culprit is in `StyleSheetPropType.js`

[code]

This seems like it's the part that's violating the new rule https://facebook.github.io/react/warnings/dont-call-proptypes.html#dont-call-proptypes-directly

[code]

I think similarly in `TransformPropTypes.js`.

I'd love to help with a fix but I'm not sure what's actually going on here and what the best remediation would be.

[2016-08-30 08:01] RealOrangeOne commented on #91
ah, good to know. Yes that does look like the culprit. No, i'm not sure what the best solution is either. I think we may need to look at how proptypes are generated in the first place, and any other libraries that define custom ones to work out the nicest way of doing this

[2016-08-30 08:04] RealOrangeOne commented on #1
That looks like an alright solution. Especially as it allows not only the types to be valid as with react-native (numbers as keys), but we can also work out the numbers ourselves to assert it's working! Fancy submitting it as a PR @lencioni?

[2016-08-30 17:33] jasonfma commented on #91
Do we need to do whatever custom proptype stuff we're doing here? What was the original intent behind flattening the styles here?

[2016-08-30 20:20] RealOrangeOne commented on #91
I'm not actually sure. I didnt write that bit. Maybe a question for @lelandrichardson

[2016-09-04 06:09] taylor1791 opened #92 "`done` is not a function"
React native has a non-standard extension to `Promise`. It adds a done method that throws any uncaught errors. Unless I am mistaken, I don't believe `react-native-mock` adds this. Are there plans to do this?

[2016-09-04 13:00] RealOrangeOne commented on #92
I did not know react-native did this, so no there arent any plans for this. Can you provide some examples of this, as i'm not exactly sure what it's use is.

[2016-09-04 17:26] taylor1791 commented on #92
I discovered this in the [AsyncStorage Example](https://github.com/facebook/react-native/blob/master/Examples/UIExplorer/js/AsyncStorageExample.js#L45). More research shows that using `done` is no longer necessary after [0fa8d16](https://github.com/facebook/react-native/commit/0fa8d162c15591be0e3fb40a8a1e8730043824e8) fixed [ !facebook/react-native/4045](https://github.com/facebook/react-native/is

[2016-09-04 18:28] RealOrangeOne commented on #92
Seeing as it's now been fixed. I think it's fine not to support it. Generally we only try to support the most recent version of react-native

[2016-09-04 18:28] #92 closed

[2016-09-07 16:50] jasonfma commented on #91
This does prevent us from upgrading to the latest RN since we prefer to treat all warnings (especially proptype warnings) as errors in our tests. I'd be happy to dedicate some time to this to figure out a solution and submit a PR. @lelandrichardson can you provide more context into why the styles and transform proptype mocks were implemented this way?

[2016-09-09 19:04] evollu commented on #91
I changed `location` or `...rest` and everything is working now

[2016-09-11 03:45] joncursi opened #95 "RN 0.33.0 Conflicts with react-native/lib/* ?"
As of React Native 0.33.0, my build started failing as it could not find the `react-native/lib/*` files. Example:

[code]

I've gotten around this with mockery:

[code]

While this got past the above errors, it prompted a new one:

[code]

I assume these to be issues with RN 0.33.0?

[2016-09-11 11:13] #91 closed

[2016-09-11 11:16] RealOrangeOne commented on #95
I'm not sure youre meant to be importing things from react native with paths like that. You should probably be getting the components from the keys of react-native itself. As our project doesnt use the same directory structure as react-native, this is unlikely to work. Are the modules youre getting from libs/ available off react-native?

[2016-09-12 18:00] joncursi commented on #95
That's the interesting thing! I'm only importing standard components from the React Native docs, so I'm trying to figure out why my test setup is getting tripped up on react native internals. I figured this could be due to the RN 0.33.0 upgrade and the way this package handles that, but it looks like I was wrong. I'll continue to investigate in my repo and report back any findings.

Thanks!

[2016-09-12 18:20] RealOrangeOne commented on #95
during tests, you shouldnt be touching react-native itself at all. So i'm confused why this is a problem with versions of react-native. I can only presume that you are somewhere requiring like that with paths.

[2016-09-13 16:39] joncursi commented on #95
Ah, so it turns out this issue was being caused by [react-native-svg](https://github.com/react-native-community/react-native-svg).

The following snippet inside mocha's `setup.js` fixed the issue:

[code]

Sorry for logging this where it didn't belong!

[2016-09-13 16:39] #95 closed

[2016-09-13 18:45] RealOrangeOne commented on #95
Great. I would also be tempted to open an issue against react-native-svg, as they really shouldnt be importing react-native things like that

[2016-09-21 22:54] jasonfma commented on #91
Any update on an expected release @RealOrangeOne ? My xcode just automatically updated and I need this to upgrade to RN 0.33. If not I can just install the old xcode. Thanks :)

[2016-09-27 12:41] ZauberNerd commented on #71
@RealOrangeOne any updates on this?
I'd really like to have up-to-date dependencies that don't put too much work for preparing releases onto you.

For that it would be great to have the release process completely automated - that way it also reduces the possibility of errors introduced by humans.
- It could be worth to take a look at: https://github.com/semantic-release/semantic-release
- or if th

[2016-09-27 14:28] RealOrangeOne commented on #71
I havent done any work on it, no. But I plan to implement a dist-tag that can be used, and autodeployed by a CI.

[2016-09-28 19:30] viceversus opened #100 "Path in ART has unmocked methods"
The `Path` class in the ART library is only partially mocked out. I'd like to mock out the rest of the methods for my own selfish reasons.

I'll have a PR up by the end of the day.

[2016-09-29 08:26] RealOrangeOne commented on #100
That's not selfish at all! The more people contribute to a library, the better it'll become. That's what the review process is for!

[2016-10-03 23:27] drop-dan opened #102 "New npm release"
The current release is not compatible with 0.33.0+ of react native.  (Mostly due to PropType warnings, but still)

Would love to see a new release soon!

[2016-10-04 05:56] RealOrangeOne commented on #102
I'll try and get an issue done later today

[2016-10-04 13:00] drop-dan commented on #102
Sorry if I should've asked elsewhere, closing this :) Thanks for responding so quickly!

[2016-10-04 13:00] #102 closed

[2016-10-05 21:33] GeoffreyPlitt opened #103 "ReferenceError: FormData is not defined"
Hello,

The (real) React-Native has a global "FormData" defined. This module doesn't seem to provide that?

[2016-10-06 06:29] RealOrangeOne commented on #103
I did not know about this global, and I don't believe it's documented. Do you know what it does? So we can make an accurate mock

[2016-10-06 08:28] ZauberNerd commented on #103
Seems like it's inspired by the browser `FormData` API: https://developer.mozilla.org/en-US/docs/Web/API/FormData
Here's the react-native implementation: https://github.com/facebook/react-native/blob/9ee815f6b52e0c2417c04e5a05e1e31df26daed2/Libraries/Network/FormData.js

[2016-10-06 10:38] RealOrangeOne commented on #103
Ah ok. Looks like it's something that's very easy to add

[2016-10-06 19:26] GeoffreyPlitt commented on #103
Sweet

[2016-10-07 09:30] vikeri opened #104 "Deploy new version"
I noticed there are some commits that have not been released, my tests are failing due to this and I would prefer not to fork the library. Is there a reason that a new release is not published? Anything I can do to help with releasing a new version?

[2016-10-07 09:31] RealOrangeOne commented on #104
damn it! I forgot to do a deploy last night. I'll start doing one right now!

[2016-10-07 09:42] RealOrangeOne commented on #104
Deployed `0.2.7`

[2016-10-07 09:42] #104 closed

[2016-10-07 22:19] randycoulman opened #105 "Any interest in exposing or extracting utilities?"
Thank you for this project!  It's been very helpful and works great!

While this project works for the core React Native components, it doesn't help with other native components (such as react-native-camera).  However, the utilities and approach taken here work just fine with other components.

Is there any interest in exposing some utilities from this library, or extracting them to a different li

[2016-10-08 10:30] RealOrangeOne commented on #105
Something like this isnt really in the scope of this project. as the components youre looking to mock arent actually a part of react-native. However, instead of rolling your own mocking function, I recommend using https://github.com/mfncooper/mockery, it works great for exactly what youre doing!

[2016-10-08 10:30] #105 closed

[2016-10-11 09:04] icynoangel commented on #11
Hmm... I have added the hookLoader for images in my mocha setup file, I don't get the error about images anymore, but I do have the following error:

TypeError: Plugin 1 specified in "/node_modules/react-native-router-flux/node_modules/react-native-experimental-navigation/package.json" was expected to return a function but returned "undefined"

Anyone got this error?

[2016-10-27 10:48] danielbh commented on #17
Another way to do it is to do it is by component basis. The issue with this is that you need to include the a boolean for Platform as a prop. While it adds a bit extra code . Its allows me to mock things in a contained manner.

Here is a webView component below as an example. I use it to conditionally create a vertical offset due to a navigation bar component. Would love to hear your feedback!

[c

[2016-11-09 17:12] michael-ar opened #109 "Publish latest version to NPM"
Hello,

Had a PR which was merged last week, any chance you could publish the latest version to NPM?
CI tests are currently failing.

Thank you

[2016-11-14 09:00] cubbuk commented on #103
I have a several issue with `RNGoogleSignin` component. I extended the current package in an initial config file similar to following, is there anything wrong with this approach I was getting an error while trying to run tests due to missign `RNGoogleSignin`:

[code]

[2016-11-14 09:24] RealOrangeOne commented on #103
@cubbuk You probably shouldnt do it like that. If you just run the mock script. then extend NativeModules off react-naive instead of react-native-mock, it should work

[2016-11-14 09:44] cubbuk commented on #103
@RealOrangeOne  But isn't the idea of `ReactNativeMock` is to replace `import` statements to `ReactNative` to point to itself? If I extend `ReactNative` rather than the mock, the require statements on missing components will throw exception. Maybe I am just confused about the library let me know If I didn't make sense.

[2016-11-14 13:57] RealOrangeOne commented on #103
I think you may be. We're changing the require path yes. But you shouldnt be mutating our library directly. You should be running mock, the changing react-native itself afterwards.

[2016-11-18 13:00] joemckie opened #111 "Incompatibility with React 15.4.0"
Your dependency on `react-addons-perf` is breaking with React 15.4.0.

Can this be updated?

[2016-11-18 13:47] RealOrangeOne commented on #111
Yes, that should be a very simple fix!

[2016-11-18 14:25] joemckie commented on #111
@RealOrangeOne I'm taking a look into a PR now. Is there a reason why the versions are explicitly required using `=` rather than `^`?

[2016-11-18 14:37] RealOrangeOne commented on #111
for devDependancies yes, it allows for more reproducable tests. For the main dependancies no, Think I messed up a find/replace

[2016-11-18 14:46] gaearon commented on #111
I'd recommend using Jest for testing React Native instead. That's what we use at FB, and we maintain it.

[2016-11-18 14:47] gaearon commented on #111
<s>I'd recommend using Jest for testing React Native instead. That's what we use at FB, and we maintain it.</s>
(Never mind my comment, wrong thread)

[2016-11-20 17:29] RealOrangeOne commented on #109
once #114 is merged, I will do a deploy. CI tests on master are now passing too

[2016-11-20 17:29] #109 closed

[2016-11-20 21:01] RealOrangeOne commented on #109
After seeing dependency issues with that PR, am publishing now

[2016-11-21 10:18] michael-ar commented on #109
thanks man!

[2016-11-22 03:47] xwartz opened #115 "How to mock XMLHttpRequest in react-native"

[2016-11-22 05:03] xwartz commented on #115
Solved.
 [node-XMLHttpRequest](https://github.com/driverdan/node-XMLHttpRequest)

[2016-11-22 05:03] #115 closed

[2016-11-22 11:53] RealOrangeOne commented on #115
Generally in a unittest you shouldnt be making API calls at all, they should be completely offline. You should just mock the return from your endpoints and pass that directly into your components

[2016-11-22 20:22] taylesworth commented on #103
Is there any reason this isn't as simple as just adding the React Native implementation to react-native-mock? If that's all that's required, I'm happy to put together a PR.

[2016-11-22 20:51] RealOrangeOne commented on #103
@taylesworth Yes, it should be just that simple. Provided it's mocked in an identical way.

[2016-11-23 13:36] Richard-Cao commented on #111
The same error:
[code]
## Version:
- react-native-mock@0.2.8
- mocha@3.1.2
- react@15.4.1
- react-dom@15.4.1
- react-addons-test-utils@15.4.1
- react-native@0.38.0

[2016-11-23 13:38] joemckie commented on #111
@Richard-Cao check out the PR (#114). Looks like RN has a stable 0.38.0 release now so we can try and get this fixed!

[2016-11-23 14:43] #111 closed

[2016-11-27 09:10] ofirdagan opened #117 "Upgrade to react 15.4"
Hey, Even though I saw you upgraded to support react 15.4 in version 0.2.8.

When I run `npm info react-native-mock` I still get react version 15.1.0

Can u please check?

Thanks!

[2016-11-27 10:15] ofirdagan commented on #117
The current work around I did for now is adding a `postinstall` step in my `package.json` which deletes the `node_modules` directory inside `react-native-mock` Then installing its dependencies explicitly with version 15.4.1

Please let me know if you fix this so I can remove my work around.

[2016-11-27 12:15] RealOrangeOne commented on #117
This fix has been made, in #114. Will hopefully release early next week

[2016-11-27 12:15] #117 closed

[2016-11-28 21:43] rubikzube opened #118 "v0.2.9 may cause error when using Mocha with older versions of react."
Error found in 0.2.9 but not in 0.2.8

[code]

Currently using:

[code]

[2016-11-28 22:17] RealOrangeOne commented on #118
Yes, this is intentional (sorta). As stated in the README, we only maintain support for the most recent versions of react-native, if youre using an older version, you will need to use an older version of react-native. There isnt a definitive guide as to what versions work with what, but if you look at the Releases, it should be simple enough to figure out. I will work on some kind of table at some

[2016-11-28 22:17] #118 closed

[2016-11-28 22:30] rubikzube commented on #118
I get where you're coming from, but if the intent is to deprecate support for consumers using older version of react, would this set of changes count as a breaking change and therefore a major version bump instead of a patch bump?

[2016-11-29 09:02] RealOrangeOne commented on #118
Technically yes, if we followed semver, but as react has introduced hundreds of breaking changes as version releases, i'm not fussed. Either way that's what we support, it'd be almost impossible to support all versions of react-native at the same time on a library like this

[2016-11-29 18:36] SandroMachado commented on #17
@RealOrangeOne I am trying to set the platform to Android, using:`Platform.__setOS('android');`

Unfortunately it is not working, the component does not render. Is there another way to do it?

If I do `Platform.__setOS('ios');` it does what is expected that is keep the `iOS` platform.

[2016-11-29 20:42] RealOrangeOne commented on #17
@SandroMachado I'm going to need a _lot_ more information than that. You have to re render you component completely after changing the OS. We also currently dont support using platforms in require statements, if that's what you meant

[2016-11-29 20:50] danielbh commented on #17
Just pass it in as a default boolean prop!

Component.defaultProps {
android: Platform.OS === 'android'
}

Does that work for you?

On 29 Nov 2016, at 21:42, Jake Howard <notifications@github.com<mailto:notifications@github.com>> wrote:

@SandroMachado<https://github.com/SandroMachado> I'm going to need a lot more information than that. You have to re render you component completely after changing

[2016-11-29 20:54] SandroMachado commented on #17
I think I found the issue, the problem is that the `DatePickerAndroid` is
not mocked.

On 29 Nov 2016 20:50, "Daniel Hollcraft" <notifications@github.com> wrote:

[2016-12-06 21:42] #103 closed

[2016-12-12 15:39] taylesworth commented on #103
Do you have an eta for a release containing FormData?

[2016-12-22 22:24] faceyspacey commented on #78
+1

[2016-12-31 03:11] chrismcleod commented on #15
Same issue, ref is undefined in wrapper instance's componentDidMount.  It works when actually running on ios simulator.

**COMPONENT**
[code]

**TEST**
[code]

[2016-12-31 15:20] RealOrangeOne commented on #15
i believe passing a string to the refs prop was phased out recently in ReactJS, so react-native has probably followed. I think the problem is that a components ref handler is never called once it's mounted, so 'this.nav' is never set

[2016-12-31 19:01] chrismcleod commented on #15
using old style is a different but similar problem.  If i use old-style string ref, this.refs is still {} in componentDidMount, but view.ref("myRef") will return the Navigator wrapper.

[2016-12-31 23:04] chrismcleod commented on #15
It looks like maybe it has something to do with refs that are not the root element.  If I move the Navigator to the root element, and use the new style, this.nav is set in componentDidMount.  Am I doing something wrong in my test or is this an issue with enzyme?

[2017-01-13 11:53] NikitaSergeevich opened #122 "Got the AssertionError: expected { Object (root, unrendered, ...) } to equal true"
I'm quite new to react and react-native testing, after some research I decided to use mocha and enzyme to test my components. So i used react-native-mockery, redux-mock-store and react-native-svg-mock in order to run any test. my TestComponent.js file has following code:

[code]

but I get following error:

  0 passing (984ms)
  1 failing

  1) <Test /> it should render 1 view component:
     Asse

[2017-01-13 12:47] RealOrangeOne commented on #122
This isnt an issue with _react-native-mock_, more with how you're asserting. A rendered component will never equal 'true', it's a component. If youre after a simple check, you can use _.to.be.OK;_, or even better, check that the right number render with _.to.have.lengthOf(1);_.

Closing, non-issue

[2017-01-13 12:47] #122 closed

[2017-01-13 14:18] NikitaSergeevich commented on #122
So guys, maybe you can put some light on situation when I trying to test more complicated component to which I provide a mocked store in a following way:

[code]

[2017-01-13 14:54] RealOrangeOne commented on #122
Unfortunately with that little information, it's impossible to help you. This also doesnt seem like an issue with react-native-mock at all. I suggest seeking help in a less specific location such as [Stack Overflow](http://stackoverflow.com/questions/tagged/react-native)

[2017-01-20 02:15] dieseldjango commented on #13
I'm having the same problem as @maraujop and @lnhrdt - dealing with custom RN components that implement native code. Just rendering them shallow isn't a solution, I can't even get to the point where the test will run unless the native module is mocked. Take react-native-camera for example. It provides a native module called, CameraManager/CameraModule:

[code]

This module is of course undefined w

[2017-02-03 02:48] antseburova opened #124 "Release 0.2.8 is not compatible with react 15.4.0"
Hi,
I moved to react 15.4.0 and found out that the last release of react-native-mock (v0.2.8) is not compatible with it due to one of its dependencies. I am experiencing an issue with react-addons-perf (v15.1.0), which is not compatible with react 15.4.0.  I have noticed that there is actually some work already done in the master branch to make react-native-mock compatible with  react 15.4.0 . Cou

[2017-02-03 11:18] RealOrangeOne commented on #124
Oh dear. Yes I shall do a release later on today in that case!

[2017-02-03 14:02] antseburova commented on #124
It would be great. Thank you very much!

[2017-02-03 14:51] RealOrangeOne commented on #124
Released `0.3.0`. Please upgrade and let me know if it works!

[2017-02-03 14:51] #124 closed

[2017-02-03 18:41] antseburova commented on #124
Thank you very much for the release. However, I get the following error when I try to run my tests:
"Cannot find module 'underscore'". Do I have to install underscore? I didn't have to do that for the previous versions.

[2017-02-03 19:55] RealOrangeOne commented on #124
Have fixed issue, hopefully. Please try `0.3.1`

[2017-02-03 19:58] antseburova commented on #124
Perfect! Works as expected. Thank you very much for your instant help!

[2017-02-22 11:39] alixeb commented on #78
having the same issue

[2017-03-06 21:59] GeoffreyPlitt opened #125 "fetch() doesn't save cookies"
In production, fetch() saves cookies as you would expect against an API that does cookie-based session login authentication.

But our tests with the same code (and react-native-mock) show fetch() not sending cookies on subsequent calls after login(), so I believe it's correct to say react-native-mock's fetch() has a bug with cookies.

[2017-03-06 22:19] RealOrangeOne commented on #125
This is a strange bug, however generally i'd be against actually calling an API in your tests using fetch. The response should be stubbed so it can be reliably asserted against.

Closing as a mix of non-issue, and possibly outside our codebase.

[2017-03-06 22:19] #125 closed

[2017-03-06 23:36] GeoffreyPlitt commented on #125
Actually, I just solved it. To anyone else curious: just use this: https://www.npmjs.com/package/fetch-cookie

[2017-03-16 02:00] xareelee opened #126 "Using react-native-mock with storyshots will raise abnormal Error messages"
I'm developing React Native (RN) apps for iOS and Android.

I use [storyshots](https://github.com/storybooks/storyshots)/[storybook](https://github.com/storybooks/react-native-storybook) to snapshot the vDOM(s) of RN components with specific props for UI tests.

However, [Jest](https://facebook.github.io/jest/) lacks the functionality to mimic RN events to test whether the buttons work correctly.

[2017-03-16 09:06] RealOrangeOne commented on #126
Looking at your stacktrace, it's actually calling out to react-native components, something react-native-mock stops. How have you setup react-native-mock in your tests?

[2017-03-16 14:03] xareelee commented on #126
Setup file for jest (as a test runner):

[code]

Inside the jest config file (whole code):

[code]

I do not do something else with `react-native-mock` or `jest-fetch-mock`. I have not used mock objects yet; just include those libraries and set them up.

[2017-03-16 17:39] RealOrangeOne commented on #126
`react-native-mock` isnt designed to work with jest, as jest contains it's own builtin mock. For this reason it shouldnt be used with it and will likely cause strange issues, as youre having

[2017-03-16 17:39] #126 closed

[2017-03-21 17:20] dan-manges commented on #76
We made a fork at https://github.com/Root-App/react-native-mock-render that will allow fully rendering native components with enzyme's `mount()`. We wrote about it at https://blog.joinroot.com/mounting-react-native-components-with-enzyme-and-jsdom/

We'd be happy to contribute a PR back into `react-native-mock`, but it'd be a breaking API change.

[2017-03-22 16:38] RealOrangeOne commented on #76
@dan-manges that looks like great work. Looking through your code i'm not seeing any massively breaking changes, but I may be wrong.

I'm currently in the process of doing a major rewrite that'll fix this issue once and for all in a much more reliable way. Whilst it's not finished yet, i'd love some feedback on it! There's an open PR to track this #120

[2017-03-28 09:42] talarari commented on #76
@RealOrangeOne could you explain your approach to supporting mount in this PR? Is it similar to what's been done​ in react-native-mock-render?

[2017-03-28 11:12] RealOrangeOne commented on #76
@talarari no, #120 is a complete rewrite. Rather than using complete mocks as the current version of `react-native-mock` and `react-native-mock-renderer` do. #120 uses the direct `react-native` code when rendering, in mostly the same way `jest` does.

[2017-04-04 23:02] rdmchenry opened #127 "Animated should export delay"
The AnimatedImplementation should export delay as it is a supported API of Animated.

[2017-04-07 14:57] samouss opened #129 "Incompatibility with the 0.43"
Hello,

The latest release of React Native use the `v16.0.0-alpha.6` of React.
In this version the React team has deprecated and remove a lots of addons package, including:

- `react-addons-pure-render-mixin`
- `react-addons-create-fragment`
- `react-addons-update`

Due to this BC the package throw an error when the test are running:

[code]

We should drop the import of this addons and create a n

[2017-04-07 15:05] RealOrangeOne commented on #129
Wow, supprised they're depricating all those. Had a quick look through the issue you linked, but it doesnt sound like it's as simple as _Facebook arent supporting these anymore_. Is there a way we can change the require path / method to keep using these libraries? If not, we'll have to look into trying to remove the dependency on these, which sounds interesting.

[2017-04-07 15:17] samouss commented on #129
I try to remove the useless dependency in my project and it works.
Do you want a PR ?

[2017-04-07 15:31] RealOrangeOne commented on #129
Yes, please! I'm surprised it's so simple, I was expecting much worse!

[2017-04-12 22:48] jasonfma opened #131 "axios calls don't return"
I have a suite of integration tests that use `axios` - which in turn uses the newly mocked out `XMLHttpRequest`. These calls don't return anymore.

I do stub out the API requests for the rest of my test suite, but I'd still like to be able to run integration tests to verify the contracts for some of the APIs - verifying the integration doesn't break.

Is there a way to replace the mock or unmock i

[2017-04-13 07:47] RealOrangeOne commented on #131
This is likely because the mock for `XMLHttpRequest` never returns anything, which is fine. Generally you shouldnt actually need to mock things this far down, and should never actually call the network.

In this case, the best solution would be to use libraries like [Mockery](https://github.com/mfncooper/mockery) and [Sinon](https://github.com/sinonjs/sinon) to mock out `axios`, so you dont need t

[2017-04-13 09:01] jasonfma commented on #131
Yep right now the majority of the tests are using a mock for `axios` so we don't actually make the network calls.

The issue I want to solve is how to still allow for a subset of **integration** tests to verify that those contracts haven't been broken either by changes in the client or the API code.

[2017-04-13 12:00] RealOrangeOne commented on #131
I fear then you can't use `react-native-mock` for integration testing, as we mock out the network-calling parts of the app, so you couldn't do any real API calls with it.

[2017-04-13 14:49] jasonfma commented on #131
That's unfortunate. It was working before 3.0.0. Just curious, what was the main driver for adding the mocks for the networking calls?

Maybe for now I can separate out the integration tests into a separate test run.

[2017-04-14 20:32] RealOrangeOne commented on #131
The driver was someone submitted a PR (#119). I've never done integration tests, so i'd consider network requests unnecessary for `react-native-mock`, but clearly there's a market for it. I believe these mocks also normalize the API between version of node and `react-native`, so this was still the right thing to do.

I think one of the nicest and simplest solution would be adding an environment va

[2017-04-14 20:35] jasonfma commented on #131
Yeah, even better would be a way to enable/disable in the code so we can turn it on or off for specific tests. I went down the route of separating out the test suites but now I need to combine the coverage reports so it would remove that need if I could do it within a single test run.

[2017-04-24 17:44] eduardoleal opened #132 "React v15.5.0 Deprecation Warnings"
[React v15.5.0](https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html) has some deprecation warnings that appear to affect this repository.

Many developers (like me) use this project to run tests on CIs and it may break their build.
Is there any plan to remove this warnings?

[2017-04-25 07:59] RealOrangeOne commented on #132
Currently these warnings shouldn't affect your build at all, but obviously in the future they likely will.

I do plan to release a new version, hopefully soon, that will fix this issue and any related.

[2017-05-08 16:17] jasonfma opened #133 "Need a way to reset _animationFrame count"
We came across this issue doing **snapshot testing** with `Animated` components and `enzyme-to-json`. There is a property that gets generated called `_animationFrame` that keeps incrementing throughout the entire test run.

This makes our snapshots fragile because if we add a test or change the order of the tests, the snapshots now have a different `_animationFrame` property.

I dug into the code

[2017-05-08 16:21] jasonfma commented on #133
Our workaround right now is to copy the source from the `raf` npm module and add a `reset` call that clears it's queue and resets the counter. Then we call it before every test.

[code]

Inside our `init.js` for mocha tests:
[code]

[2017-05-08 19:15] RealOrangeOne commented on #133
This is a strange and unfortunate issue, but i'm not sure of the correct solution, or if it's anything to do with `react-native-mock`. This looks like a great patch, but it's probably better submitted to `raf` as a hidden API.

[2017-05-08 19:15] #133 closed

[2017-05-15 14:36] pziemkowski commented on #129
Any update on this issue?

[2017-05-16 17:17] JonnyBurger commented on #129
I appreciate you working on this!
If you, like me, desperately want to upgrade, I published @samouss's branch as an npm package: https://www.npmjs.com/package/@jonny/react-native-mock

Install and update references in babel config and requires from `react-native-mock` to `@jonny/react-native-mock`.

No update / maintenance and I will unpublish the package when the main repository has been updated

[2017-05-22 20:20] edmundito opened #134 "Mock for i18nManager"
Hello, I'd like to add a suggestion to create a mock for `React.i18nManager`.

My team ran into an issue where an OSS module was referring it and failed to build during the test runner setup process. Our workaround is to import react-native-mock in the runner setup script and assign a i18nManager mock. However, it would be nice if react-native-mock supported it out of the box.

[2017-05-24 22:33] fadookie opened #135 "Missing support for percentage widths"
[React Native has recently added support for percentage widths](https://facebook.github.io/react-native/releases/0.44/docs/layout-props.html#width).

Tests that we have now fail props validation if we pass in a percentage width string instead of a number:
[code]

[2017-05-25 08:18] RealOrangeOne commented on #135
Ooh, that's a nice improvement. I'm kinda suprised proptype failures cause tests to fail though, but hey it is an actual error i guess.

I plan to spend a large amount of time upgrading the project in the coming weeks, i'll make sure to add this to the list of things to check!

[2017-05-25 08:19] RealOrangeOne commented on #134
Short term that's exactly the ideal fix for this! Long term i plan to do a large refactor job on the project in the coming weeks, i'll add this to the list!

[2017-05-31 09:04] zhouzhongyuan opened #136 "Does it support mock fetch?"
**If no, will it support fetch, and when?**
**If yes, how?**

[2017-06-01 07:50] RealOrangeOne commented on #136
What do you mean by _Mock Fetch_? If youre trying to use a library that mocks `fetch()`, then yes that should work fine.

[2017-06-01 08:18] zhouzhongyuan commented on #136
Yes, I mean using a library to mock `fetch()`.
I am using [react-native-fetch-mock](https://github.com/WhatAKitty/react-native-fetch-mock) to mocks `fetch()` now. But its return value is not a [Response](https://developer.mozilla.org/en-US/docs/Web/API/Response), its return value is json.
As I know, React-native doesn't have a [Response](https://developer.mozilla.org/en-US/docs/Web/API/Response) c

[2017-06-01 08:27] RealOrangeOne commented on #136
I've never used `fetch-mock`. But the missing `Response` constructor shouldnt matter too much, as you dont actually want to be making a request in your tests.

I dont know of any good libraries, i'd suggest the best solution might be to make your own using [mockery](https://github.com/mfncooper/mockery).

I'm not sure this is related to this library, so closing until more information can be found.

[2017-06-01 08:27] #136 closed

[2017-06-08 10:31] joelpickup commented on #134
@edmundito would you be able to share how you implemented this?

[2017-06-08 16:44] edmundito commented on #134
@joelpickup In whichever test framework you're using in the initialization JS file, or via an import in your test, you can add the following:

[code]

[2017-06-09 16:20] miguelc1221 opened #137 "Invariant Violation: Native module cannot be null."
Hey, not sure if this is the best place to ask but i just started using `react-native-mock` and I keep getting this error which I am not sure how to fix and might be related to the library.
[code]

[2017-06-09 18:53] RealOrangeOne commented on #137
Looking at that stack trace, it probably is a `react-native-mock` bug. However it's very difficult to tell what the issue is with just that stack trace. Can you try and reproduce it more clearly with an example, or provide a stack trace

[2017-06-09 21:52] miguelc1221 commented on #137
I'll try to reproduce in the meantime here is some more info. The above is what I keep getting when I try to run jest, so currently can run any tests.

What led me to use `react-native-mock` was the fact that I couldn't mock `NativeEventEmitter` which we are using.

dependencies
[code]
Jest config
[code]

jestSetup.js
[code]

[2017-06-13 10:20] RealOrangeOne commented on #137
Hmm, interesting. I'd never considered people wanting to use `react-native-mock` with `jest`, but i guess it should work. But yes please try and narrow down exactly why it happens. It's possible it's some conflicting between `react-native-mock` and `jest`'s builtin mock

[2017-06-16 19:43] ToniChaz opened #139 "TypeError: Cannot read property 'number' of undefine"
I have an error with all my Views components

[code]

My deps:
[code]

[2017-06-18 08:25] RealOrangeOne commented on #139
That's a very strange error, possibly an issue to do with proptypes? Are your components using the `number` proptype validator?

Also, possibly unrelated, you seem to be using both `jest`, and a far newer version of `react-native` than `react-native-mock` supports. This may also be a factor in this issue.

[2017-06-19 07:08] ToniChaz commented on #139
Hi, i don´t use any proptypes validator in my components.

You are right, i think is relationated with this

_[Note: React.PropTypes is deprecated as of React v15.5. Please use the prop-types library instead.](https://facebook.github.io/react/docs/typechecking-with-proptypes.html)_

What versions of jest and react-native supports react-native-mock?

[2017-06-19 09:00] RealOrangeOne commented on #139
Documentation on support is unfortunately kinda lacking.

I dont have support for any version of `jest`, as it has a builtin mock of `react-native`, however there's theoretically nothing stopping it working. The latest version of `react-native` i've tested this on is `0.42`, however i'm planning to add better support for current a newer versions soon

[2017-06-19 10:14] ToniChaz commented on #139
Ok, thank you very much, I'll wait for the new version.

[2017-07-17 20:14] gpeal commented on #132
@RealOrangeOne Any update on this? The last 4 versions of React Native ship with react 16 alpha and this is blocking our upgrade.

[2017-07-18 11:14] RealOrangeOne commented on #132
@gpeal unfortunately time to look into this issue has been rather low. I believe the issue is something to do with dependencies of `react-native-mock`. Shame my time is affecting your upgrade, If youre in need of it i'd suggest researching yourself, and submitting a PR!

[2017-07-19 03:35] xareelee opened #141 "Cannot find module 'react/lib/ReactComponentTreeHook' from 'ReactDebugTool.js'"
After adding and importing this lib, testing with jest shows errors for all test suites:

[code]

Part of `package.json`:

[code]

Those errors are raised from `react-addons-perf` which is depended by `react-native-mock`. The version of `react-addons-perf` is `15.4.2`. I'm not sure whether it is related to the version of `react` (`16.0.0-alpha.12`).

[2017-07-19 04:13] xareelee commented on #141
I've checked that the module `react-addons-perf@15.4.2` which has a peer-dependency with `react-dom@15.4.2` which has a peer-dependency with `react@^15.6.1`, and it leads to this issue.

`node_modules/react-addons-perf/node_modules/react-dom/lib/ReactDebugTool.js:16:30`:

[code]

However, `react@16.0.0-alpha.16` that I installed doesn't have that file.

React-Native 0.45 and 0.46 depends on `react

[2017-07-19 11:48] dannyshisler commented on #141
I've got the same problem - I'm using Mocha.  I get:

`module.js:471
    throw err;
    ^

Error: Cannot find module 'react/lib/ReactComponentTreeHook'`

I'm using react-native 0.46.4

[2017-07-19 12:53] RealOrangeOne commented on #141
This issue would resolve itself if `react@16` would come out of alpha. But yes I agree that fixing the dependencies should fix the issue, however i'm not sure requiring ^16 is wise for backwards compatability. Perhaps experimenting with swapping it to a peer dependency might solve it?

[2017-07-24 18:07] gabceb commented on #141
The hook was moved from addons to a different location for React 16 as per https://github.com/facebook/react/commit/f2fc1822501456a26b458a17851319904ffabe2a. I'm trying to get this to work with `mockery` by switching the loader location and will report back if I am able to get it to work

[2017-07-28 12:01] gabceb commented on #141
React 16 Beta is out and they have oficially said perf add-ons wont be coming back the same way it was before

https://github.com/facebook/react/issues/10294

[2017-08-09 02:20] peixin commented on #141
and how to fix?

[2017-08-14 01:45] mgeist commented on #141
What worked for me was to downgrade to react-native 0.44.x for the time being.
react-native: 0.44.x
react: 16.0.0-alpha.6

Although I'm using create-react-native-app / expo, so I'm not sure if this will work for others.

[2017-08-15 18:54] sebas5384 commented on #141
I'm having the same issue here but my error is coming from `react-apollo`'s `react-dom`, somebody had a solution? oh! I'm using Jest.

[2017-08-15 18:59] sebas5384 commented on #141
I resolved by upgrading my node to v8.3.0 (npm v5.3.0), removing all the node_modules and then installing all again. Btw, I'm using yarn.

[2017-08-18 01:13] gardner commented on #139
@ToniChaz you can test out #140 by installing the latest commit from github: `npm install --save-dev github:RealOrangeOne/react-native-mock#master`

[2017-08-21 19:28] faisalil commented on #141
@RealOrangeOne , what is the plan to resolve this?

[2017-09-01 06:52] shqld commented on #141
Is there any valid workarounds except for downgrading react-native? I'm using the latest version of it now.

[2017-09-01 08:22] patrys commented on #141
I've tried to fork this and upgrade it to depend on the latest react but I couldn't get perf tools to work (latest release seems to target `16.0.0-alpha.3`).

[2017-09-03 21:00] shqld commented on #141
I made a very simple fork and we can use it for the time being until an officially release.
https://github.com/shqld/react-native-mock

[2017-09-04 08:14] patrys commented on #141
@shqld for a very simple fork you've committed a whole lot of unrelated stylistic changes 😞

[2017-09-06 08:42] shqld commented on #141
@patrys It's like a mock of the future release of this library just for me😞 Fixing some syntax was due to console errors emitted when testing with Jest.

[2017-09-06 15:37] timurridjanovic commented on #141
@shqld I'm using your fork in my package.json like this:
    "react-native-mock": "https://github.com/shqld/react-native-mock/tarball/master",
but when I install everything, I'm still missing the build directory, and cant seem to build it using npm build. Can you describe how I can install your fork?

[2017-09-07 04:22] shqld commented on #141
@timurridjanovic It's intended that there's no `build/` and you don't have to build. To save time building, I've committed https://github.com/shqld/react-native-mock/commit/d1a224dbc3a648af72b7683953c71cee90a369c6 so that it can be directly used without building. (And if you still like to build, you have to `npm install` in the root of this fork directory first.)
So, just install it and then you c

[2017-09-25 13:49] skathayat commented on #137
@miguelc1221 I am also experiencing the same issue. Have you found a solution to this?

[2017-09-26 07:57] rnagulapalle opened #144 "not able to install from npm"
i am trying to install but it keeps returning 404
[code]
package.json
[code]

[2017-09-26 09:57] RealOrangeOne commented on #144
This doesnt look like you're installing my package. The official package is at `react-native-mock` rather than `@jonny/react-native-mock`. Are you intentionally trying to install a fork?

[2017-09-26 14:50] rnagulapalle commented on #144
Official one is not working with 0.48.4 react native version. And also it's
missing build folder where mock.js requires. So having issues running jest

On Tue, Sep 26, 2017 at 2:57 AM Jake Howard <notifications@github.com>
wrote:

--
Thanks,
-Raj

[2017-09-26 15:15] RealOrangeOne commented on #144
This error looks like you're looking for the wrong fork. The official one works (not necessarily with that version of react-native), and has the required build directory. This issue is likely because youre trying the wrong package name of the fork, this isn't to do with this project, or even this repo

[2017-09-26 15:15] #144 closed

[2017-09-26 17:34] rnagulapalle commented on #144
Thank you and is your official library works with 0.48.4 RN version. I see there is lot of dependencies missing.

[2017-09-27 16:52] TheaLanherne commented on #141
@RealOrangeOne you said "This issue would resolve itself if react@16 would come out of alpha" but I'm not sure if react-native-mock is fully compatible with react 16. [React 16 is out of alpha now](https://facebook.github.io/react/blog/2017/09/26/react-v16.0.html), so I tried using your package with react version 16.0.0 (and the latest version of react-native 0.48.4), but I still seem to be gettin

[2017-09-27 19:07] gabceb commented on #141
All prop types have to be moved from React to the prop-types package to support React 16. Also, all propTypes from `react-native` are now imported from the root as viewPropTypes instead of from the View object. See the commit below for examples of porting. If no one has picked it up I will try to submit a PR tomorrow

https://github.com/cjcheshire/react-native-multi-slider/commit/6f0d2cb480ccd7190

[2017-09-27 19:30] mrdezzods commented on #139
According to me it is because the package still imports the propTypes from react.
It should use the package `prop-types` to get the propTypes.

[2017-09-28 02:54] rnagulapalle commented on #144
Sorry to  bother you guys but npm view gives me only 0.3.1
LM-SJN-00877623:driver-android rnagulapalle$ npm view react-native-mock

{ name: 'react-native-mock',
  description: 'A fully mocked and test-friendly version of react native',
  'dist-tags': { latest: '0.3.1' },
  versions:
   [ '0.0.1',
     '0.0.2',
     '0.0.3',
     '0.0.4',
     '0.0.5',
     '0.0.6',
     '0.0.7',
     '0.1.0',

[2017-09-28 14:39] ebaynaud commented on #141
@gabceb We are tomorrow :)

[2017-09-28 14:42] RealOrangeOne commented on #144
Yes, this is correct. The latest version is `0.3.1`. See the `package.json` for proof. Again, you're getting the version number from an unofficial fork

[2017-09-28 22:09] jcguarinpenaranda commented on #141
I found this issue today, when I tried to test my RN components with `enzyme` and `enzyme-to-json`.

I am using:
* "react-native-mock": "^0.3.1"
* "react-native": "^0.48.4"
* "react": "16.0.0-alpha.12"
* "enzyme": "^3.0.0"

If somebody has a solution for this it would be very helpful

[2017-09-29 07:42] mhd999 commented on #141
@jcguarinpenaranda think the author mentions the package is not working with react in alpha.

[2017-10-01 09:15] gabceb commented on #141
@ebaynaud it seems that someone beat me to it https://github.com/RealOrangeOne/react-native-mock/pull/130 👍

[2017-10-17 13:52] sondremare opened #146 "Plans to support FlatList"
Are there any plans to support FlatList anytime soon?

[2017-10-17 16:16] RealOrangeOne commented on #146
Looks like it's a near drop-in replacement for `<ListView />`, should be nice and simple to implement from the `<ListView />` mock

[2017-10-26 16:11] sdeleon28 opened #148 "Should `babel-preset-airbnb` be in `dependencies`?"
I'm trying the master branch of the project directly from github to work around #139. When I run `jest` I get `Couldn't find preset "airbnb" relative to directory "/path/to/project/node_modules/react-native-mock"`.

Should this dependency be in `dependencies` instead of `devDependencies` so that it gets installed when `react-native-mock` is installed via npm/yarn? Why does this even fail at runtim

[2017-10-26 21:38] sdeleon28 commented on #148
I've realized this is only a problem because I `yarn`d the lib directly from GitHub (because I needed to use master). Jest was diving into `node_modules` and transpiling modules in place. Since there was a `.babelrc` file in there, it tried to use it. This shouldn't happen via standard npm installs because the `.babelrc` is properly ignored in `.npmignore`.

[2017-10-26 21:46] #148 closed

[2017-10-30 22:02] MincePie commented on #141
What is the solution to this error - sorry, I don't understand what #130 suggests as a solution to this error: Uncaught Error: Cannot find module "react/lib/ReactComponentTreeHook"

[2017-10-30 22:13] ebaynaud commented on #141
@MincePi deprecated proptypes import are fixed in #130 (importing from prop-types package directly instead of importing from React). But #130 is not merged yet so still not possible to use react-native-mock without errors with latest react-native version...

[2017-10-30 23:21] andrewda commented on #141
At GitPoint, we're using @shqld's fork (https://github.com/shqld/react-native-mock) and it's working fine. I'd suggest using that until #130 is merged (hopefully soon...)

[2017-10-31 16:40] fdnhkj commented on #141
@andrewda I still get errors with @shqld 's fork.

With following dependencies

[2017-10-31 18:46] esauter5 commented on #17
Curious if anyone reached a good solution for the import issue? Currently, I'm creating a `.js` file at test runtime and then deleting it after in my script. Talk about a hack 😝

[2017-11-13 20:58] dorraba commented on #139
Any expectations when it will be fixed?

[2017-11-21 22:01] Parasrah commented on #139
Has anyone figured out a way around this besides downgrading react/react-native?

[2017-11-25 11:42] ahmedlhanafy opened #152 "Warning: ReactTestUtils has been moved to react-dom/test-utils"
This library still depends on `react-addons-test-utils` which has been moved to `react-dom`, this is causing warnings when testing with Jest.

[2017-11-28 07:24] shqld commented on #141
@fdnhkj I'm not sure but try again with `react-dom@16.0.0-alpha.12`.

[2017-12-07 09:58] julestruong commented on #141
Did someone actually make this work ?

[2017-12-08 00:14] jeaye commented on #141
I'm seeing `Error: Cannot find module 'react/lib/LinkedStateMixin'` which I believe to be of the same cause as this, so an update would be great.

[2017-12-08 20:24] jeaye commented on #129
Thank you, @JonnyBurger! That does the trick, for now. This really needs to be merged.

[2017-12-17 13:49] doniyor2109 commented on #137
+1

[2018-01-03 17:22] jordanfloyd commented on #141
@shqld I'm having issues with your fork also,
[code]

Using react-native 0.47.2

[2018-01-09 00:16] waltermvp commented on #139
Any updated here?

[2018-01-11 11:38] ghost commented on #33
For a shallow wrapper, you can call a wrapper.instance().props.propName to get the value of respective prop.

[2018-01-26 22:27] akahd commented on #141
Any update on this? Still have this issue now.

package.json: {
    "react": "16.0.0-alpha.12",
    "react-native": "0.48.4",
    "jest": "21.2.1",
    "jest-react-native": "18.0.0",
    "jest-serializer-enzyme": "1.0.0",
    "react-addons-perf": "15.4.2",
    "react-addons-test-utils": "15.6.2",
    "react-dom": "15.6.2",
    "react-native-mock": "0.3.1"
}

Hope this get fixed quickly

[2018-02-05 12:50] lalop opened #157 "Issue using via package manager since build is required"
According to the documentation you used this library by adding `require('react-native-mock/mock');` to tests.
But [react-native-mock/mock](https://github.com/RealOrangeOne/react-native-mock/blob/rewrite/mock.js) require `./build/react-native-mock.js` which is not into the package when getting it via npm.
So I add to run `babel node_modules/react-native-mock/src --out-dir  node_modules/react-native

[2018-02-05 14:12] RealOrangeOne commented on #157
This is normal, and intended. Only versions distributed through npm have the built source. Rather than that babel command, which doesnt look that great, you can do:
[code]

to reuse the internal build script.

[2018-02-05 15:08] Mr-GC commented on #152
Updating the path in \node_modules\react-addons-test-utils\index.js solved this for me.

Old:

[code]

New:

[code]

[2018-02-06 03:55] danReynolds commented on #139
you need react < 16, one fix would be to fork it and set dependency of react < 16. If your project is on react >= 16 I think that's what you'd have to do.

[2018-02-06 10:02] lalop commented on #157
Reading the code I tried to call the react-native-mock like that `require('react-native-mock/src/react-native-mock');` which seems to work the built version is only for non es6 support ?

[2018-02-06 11:22] RealOrangeOne commented on #157
There are almost certainly other things the build does rather than just convert to ES5 (I forget off the top of my head). So whilst this isnt advised, it does work, yes. It's likely in future versions this will become less supported.

The _highly_ recommended solution is to either run the version from npm, or run the build script.

(Saying that, testing for the `rewrite` branch is incredibly usefu

[2018-02-06 17:08] Twinbird24 commented on #141
@akahd I have a similar set up to you, and my tests are running without the error. Try to update to latest version of react-dom (16.2.0) and react-native (0.49.3). I'm also using an older version of jest (18.1.0), and I don't have react-addons-perf although that shouldn't interfere with anything.

[2018-02-08 09:27] msmaromi commented on #139
@RealOrangeOne you should consider this

[2018-02-14 05:13] deepaksasken commented on #139
@RealOrangeOne Any fix for this issue ? Im using latest RN v51 & React 16.

[2018-02-16 00:31] dannycochran commented on #157
@RealOrangeOne where can the rewrite version be found on npm? The version currently available on npm is pretty old.

[2018-02-16 08:17] RealOrangeOne commented on #157
@dannycochran Currently, it can't. The `rewrite` branch is still _Work in Progress_. Hopefully there will be a beta to test soon

[2018-02-18 04:29] gabrielrotbart commented on #157
I had to fork and update the dependencies to deal with #139 so can't run via npm (see @danReynolds solution). I think that's going to be happening to most people who are upgrading > 16

[2018-02-20 01:48] gabrielrotbart commented on #139
I have a pull request that fixes this https://github.com/RealOrangeOne/react-native-mock/pull/158

Once you have the updated package, you'll need to go into node_modules/react-native-mock and run `npm run build` before it will compile.

[2018-02-21 21:55] PedramVeisi commented on #139
I have the same issue 😕

[2018-02-24 10:22] ViRu-ThE-ViRuS opened #159 "View.PropTypes is depricated but still used here."
Change all `View.PropTypes` to `ViewPropTypes`
and add `import {ViewPropTypes} from 'react-native';`

[2018-02-27 08:49] saraht129 commented on #139
@gabrielrotbart i'm trying to install your version of `react-native-mock` but ran into duplicated module error with the dependencies of the mock.

    The name `setupDevtools` was looked up in the Haste module map. It cannot be resolved, because there exists several different files, or packages, that provide a module for that particular name and platform. The platform is generic (no extension). Yo

[2018-02-27 21:50] gabrielrotbart commented on #139
I haven't encountered that, sorry. I'm away from my laptop on leave for two weeks so will have to have a look at it then. Hopefully the rewrite branch is ready by then anyway

[2018-04-26 07:25] chawax commented on #159
+1

[2018-05-27 22:06] eduardomoroni commented on #141
A solution I found here was: Installing compatible `react-dom` version as devDependency.
Some people on this thread are using React 16 and react-dom < 16. I think this is the problem.

[2018-05-29 15:30] JAStanton commented on #129
@JonnyBurger can you put up a github repo with your source for the react-native-mock fork? It would be nice to contribute to it :P it seems to be the only path forward for this repo

[2018-05-31 09:46] JonnyBurger commented on #129
@JAStanton I uploaded my fork here: https://github.com/JonnyBurger/react-native-mock

It has some other changes, like requiring react-native@^0.55. If it causes problems for others, I would be happy to take PRs.

[2018-06-30 08:39] nicholaslee119 commented on #141
My solution is to replace `react-native-mock` with `react-native-mock-render`
Because the dependency `react-dom@15` in `react-native-mock` is too old for my `react@16`

[2018-07-08 14:48] janhesters commented on #139
Any updates on this?

[2018-07-23 12:48] fakhri-arfaoui commented on #139
you miss
import PropTypes from 'prop-types';

[2018-08-08 11:36] dverma4u opened #162 "emitting event from native ios working example"
Can you please share an working example of how to emit event from native ios? The one in the repo is complex as all the work is done inside only one appdelegate.m file.

[2018-08-08 11:37] #162 closed

[2018-08-20 13:23] Quadriphobs1 commented on #139
Encountered this just now and I am using flow. Could it be an issue with flow, I have the latest version of Flow, Jest and RN

[2018-08-22 17:54] jdzak commented on #139
@Quadriphobs1

No, this library is no longer maintained and it doesn't work with React 15.5 and up because it uses deprecated React features.

I recommend checking out https://github.com/mfncooper/mockery.

[2018-08-24 08:35] Quadriphobs1 commented on #139
Thanks @jdzak

[2018-08-24 15:24] jdzak commented on #139
Actually, I just realized mockery is no longer maintained. Jest has mocking functionality built in, that's probably worth checking out.  https://jestjs.io/docs/en/manual-mocks

[2018-10-15 17:56] gregorskii opened #163 "Animated Delay is not exported"
On:

https://github.com/RealOrangeOne/react-native-mock/blob/4c33a4de618b7a3c4cb8922884ae5dd7cc4218bf/src/api/Animated/AnimatedImplementation.js#L1162

Results in:

[code]

[2018-10-15 18:07] gregorskii commented on #163
Working on how to run my fork locally, but the error in my code is gone with this PR.

[2018-10-15 18:10] gregorskii opened #165 "Animated Loop is not Mocked"
Animated Loop is not defined:

[code]

[2018-11-20 06:19] chinesedfan opened #166 "No wiki page now"
I am curious that where is the wiki.

[2018-11-20 08:49] RealOrangeOne commented on #166
Hmm, not sure how that vanished. Fixed.

[2018-11-20 08:49] #166 closed

[2019-06-30 04:34] chinesedfan opened #167 "Cannot find module 'ReactPerf' from 'react-native.js'"
Even with the help of https://github.com/azarashd/react-native-mock, it can't work in RN 0.59.

Based on @azarashd's work, I did two more things in [my fork](https://github.com/chinesedfan/react-native-mock) to solve.

- Unless you really need it, comment this line https://github.com/RealOrangeOne/react-native-mock/blob/4c33a4de618b7a3c4cb8922884ae5dd7cc4218bf/src/react-native.js#L111.
- Revert `r

[2019-06-30 19:41] RealOrangeOne opened #168 "Maintainers wanted"
Unfortunately, due to a variety of reasons, I find myself unable to commit time to maintaining `react-native-mock` with the effort required it deserves. (The commit graph clearly shows it's been a while since I've had the time!)

#120, which is my most recent work, is definitely the direction I want the project to progress. Maintaining a functioning mock of `react-native` is a lot of work, and it'

[2019-07-10 13:00] jgreen210 commented on #159
https://github.com/RealOrangeOne/react-native-mock/pull/158 looks like it's aiming to fix this, amongst other things.

[2019-07-19 14:04] keithmattix commented on #137
I get this because `KeyboardManager` is not included in the mocked native modules

[2019-12-27 07:55] chakrihacker commented on #168
If you are interested, you can move to react-native-community

[2019-12-27 16:43] RealOrangeOne commented on #168
Huh, that could definitely help the project continue.

Definitely something i'd be interested in discussing! https://theorangeone.net/contact/

[2021-08-25 11:28] praveenkumarkilari83 commented on #139
React.PropTypes is deprecated as of React v15.5. Please use the prop-types library instead

use the following

import PropTypes from 'prop-types';

Note: instead of using React.PropTypes.number use simply PropTypes.number